<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Pagination</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" href="../../css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/xml.min.js"></script>  <script>
    // SVG Sprite Loader
    var svgAjax = new XMLHttpRequest();
    svgAjax.open("GET", "../../assets/svg/sprite.svg", true);
    svgAjax.send();
    svgAjax.onload = function(e) {
      var fragment = document.createRange().createContextualFragment(svgAjax.responseText);
      var svg = fragment.querySelector('svg')
      svg.setAttribute('aria-hidden', true);
      svg.style.cssText = 'position: absolute; width: 0; height: 0; overflow: hidden;'
      document.body.insertBefore(fragment, document.body.childNodes[0]);
    };
    // Replace 'no-js' with 'js' on the html tag
    (function(e){e.className=e.className.replace(/\bno-js\b/,'js')})(document.documentElement);
  </script>
  <style>
    .nsw-container {position: relative;} /* to align grid overlay */
  </style>
</head>

<body >
  <div class="nsw-masthead">
    <div class="nsw-m-left-md">
      <p>A NSW Government website</p>
    </div>
  </div>
  <header class="nsw-header nsw-header--simple">
    <div class="nsw-m-left-md">
      <div class="nsw-header__wrapper">
        <div class="nsw-header__center">
          <a href="#" class="nsw-header__logo-link">
            <img class="site-logo" src="https://www.digital.nsw.gov.au//themes/custom/corporateplus/nsw-digitalnsw-combined.svg?v=20191114111300" alt="digital.nsw">
            <span class="sr-only">digital.nsw</span>
          </a>
        </div>
      </div>
  </header>
  <div class="nsw-grid nsw-m-none" style="margin:0; /* helpers don't override grid */">
    <div class="nsw-col-3 nsw-col">
      <nav class="nsw-sidenav nsw-m-left-sm nsw-p-right-md" aria-labelledby="componentsTitle side navigation">
        <div class="nsw-sidenav__header">
          <h2 id="componentsTitle" class="nsw-sidenav__heading">
            <span class="nsw-sidenav__heading-link" aria-controls="nav-default">Components</span></h2>
        </div>
        <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
            <li class="nsw-sidenav__list-item ">
              <a href="/components/breadcrumbs/index.html" class="nsw-sidenav__link " >
                Breadcrumbs
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/accordion/index.html" class="nsw-sidenav__link " >
                Accordion
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/button/index.html" class="nsw-sidenav__link " >
                Buttons
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/callout/index.html" class="nsw-sidenav__link " >
                Callout
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/card/index.html" class="nsw-sidenav__link " >
                Card
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/direction-links/index.html" class="nsw-sidenav__link " >
                Direction links
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/feature-tile/index.html" class="nsw-sidenav__link " >
                Feature tile
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/footer/index.html" class="nsw-sidenav__link " >
                Footer
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/forms/index.html" class="nsw-sidenav__link " >
                Forms
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/site-wide-message/index.html" class="nsw-sidenav__link " >
                Global alert
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/header/index.html" class="nsw-sidenav__link " >
                Header
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/hero-banner/index.html" class="nsw-sidenav__link " >
                Hero banner
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/hero-search/index.html" class="nsw-sidenav__link " >
                Hero search
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/in-page-navigation/index.html" class="nsw-sidenav__link " >
                In-page navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/notification/index.html" class="nsw-sidenav__link " >
                In-page notification
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/link-list/index.html" class="nsw-sidenav__link " >
                Link list
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/main-navigation/index.html" class="nsw-sidenav__link " >
                Main navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/pagination/index.html" class="nsw-sidenav__link " >
                Pagination
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/side-navigation/index.html" class="nsw-sidenav__link " >
                Side navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/social-bar/index.html" class="nsw-sidenav__link " >
                Social bar
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tables/index.html" class="nsw-sidenav__link " >
                Tables
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tab-navigation/index.html" class="nsw-sidenav__link " >
                Tabs
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tags/index.html" class="nsw-sidenav__link " >
                Tags
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/breadcrumbs/index.html" class="nsw-sidenav__link " >
                Breadcrumbs
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/button/index.html" class="nsw-sidenav__link " >
                Buttons
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/callout/index.html" class="nsw-sidenav__link " >
                Callout
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/card/index.html" class="nsw-sidenav__link " >
                Card
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/direction-links/index.html" class="nsw-sidenav__link " >
                Direction links
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/feature-tile/index.html" class="nsw-sidenav__link " >
                Feature tile
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/footer/index.html" class="nsw-sidenav__link " >
                Footer
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/forms/index.html" class="nsw-sidenav__link " >
                Forms
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/header/index.html" class="nsw-sidenav__link " >
                Header
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/hero-banner/index.html" class="nsw-sidenav__link " >
                Hero banner
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/hero-search/index.html" class="nsw-sidenav__link " >
                Hero search
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/in-page-navigation/index.html" class="nsw-sidenav__link " >
                In-page navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/link-list/index.html" class="nsw-sidenav__link " >
                Link list
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/main-navigation/index.html" class="nsw-sidenav__link " >
                Main navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/notification/index.html" class="nsw-sidenav__link " >
                In-page notification
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/pagination/index.html" class="nsw-sidenav__link " >
                Pagination
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/side-navigation/index.html" class="nsw-sidenav__link " >
                Side navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/site-wide-message/index.html" class="nsw-sidenav__link " >
                Global alert
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/social-bar/index.html" class="nsw-sidenav__link " >
                Social bar
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tab-navigation/index.html" class="nsw-sidenav__link " >
                Tabs
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tables/index.html" class="nsw-sidenav__link " >
                Tables
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tags/index.html" class="nsw-sidenav__link " >
                Tags
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/accordion/index.html" class="nsw-sidenav__link " >
                Accordion
              </a>
            </li>
        </ul>
        <div class="nsw-sidenav__header">
          <h2 id="stylesTitle" class="nsw-sidenav__heading">
            <span class="nsw-sidenav__heading-link" aria-controls="nav-default">Styles</span></h2>
        </div>
        <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/grid/index.html" class="nsw-sidenav__link" >
                Grid
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/iconography/index.html" class="nsw-sidenav__link" >
                Iconography
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/layout/index.html" class="nsw-sidenav__link" >
                Layout
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/typography/index.html" class="nsw-sidenav__link" >
                Typography
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/grid/index.html" class="nsw-sidenav__link" >
                Grid
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/iconography/index.html" class="nsw-sidenav__link" >
                Iconography
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/layout/index.html" class="nsw-sidenav__link" >
                Layout
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/typography/index.html" class="nsw-sidenav__link" >
                Typography
              </a>
            </li>
        </ul>
        <div class="nsw-sidenav__header">
          <h2 id="templatesTitle" class="nsw-sidenav__heading">
            <span class="nsw-sidenav__heading-link" aria-controls="nav-default">Templates</span></h2>
        </div>
        <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/full-width-hero-banner/index.html" class="nsw-sidenav__link " >
                Full width - Hero banner
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/full-width-hero-search/index.html" class="nsw-sidenav__link " >
                Full width - Hero search
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/nav-sidebar-left/index.html" class="nsw-sidenav__link " >
                Two column - Side navigation left align (nav hides on mobile)
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/sidebar-right/index.html" class="nsw-sidenav__link " >
                Two column - Sidebar right align
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/full-width-hero-banner/index.html" class="nsw-sidenav__link " >
                Full width - Hero banner
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/full-width-hero-search/index.html" class="nsw-sidenav__link " >
                Full width - Hero search
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/nav-sidebar-left/index.html" class="nsw-sidenav__link " >
                Two column - Side navigation left align (nav hides on mobile)
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/sidebar-right/index.html" class="nsw-sidenav__link " >
                Two column - Sidebar right align
              </a>
            </li>
        </ul>
      </nav>
    </div>
    <div class="nsw-p-none nsw-col-9 nsw-col" style="padding:0; /* helpers don't override grid */">
      <div class="nsw-docs-content-header nsw-bg--light-10 nsw-p-x-md nsw-p-y-xs">
          <h1>Pagination</h1>
      </div>
      <div>
        <div class="nsw-tabs js-tabs">
          <div class="nsw-p-left-md nsw-bg--light-10">
            <ul class="nsw-tabs__list">
              <li class="nsw-tabs__list-item">
                <a href="#section147375" class="nsw-tabs__link">Guidance</a>
              </li>
              <li class="nsw-tabs__list-item">
                <a href="#demosection" class="nsw-tabs__link">Interactive demo</a>
              </li>
              <li class="nsw-tabs__list-item">
                <a href="#codesection" class="nsw-tabs__link">Code</a>
              </li>
            </ul>
          </div>
          <section id="section147375" class="nsw-tabs__content">
              <h1 id="using-this-pattern">Using this pattern</h1>
        <p>Content TBD</p>
        <p>Do:</p>
        <ul>
        <li>Check it&#39;s use with the design system</li>
        <li>Modify the pattern if there&#39;s a user need</li>
        <li>Test with the simplest version first</li>
        </ul>
        <p>Do not:</p>
        <ul>
        <li>Use the pattern without testing it first</li>
        </ul>
        <h2 id="accessibility">Accessibility</h2>
        <p>Content TBD</p>
        
        
          </section>
          <section id="demosection" class="nsw-tabs__content">
            
        <main>
          <div class="nsw-section--white">
            <div class="nsw-container">
              <div class="nsw-page-layout">
                <div class="nsw-page-layout__main">
                  <div class="nsw-grid">
                    <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
        							<div class="nsw-container">
        							  <nav aria-label="Pagination">
        							    <ul class="nsw-pagination">
        							      <li class="nsw-pagination__item nsw-pagination__item--prev-page">
        							
        							        <a class="nsw-direction-link nsw-direction-link--icon-left" href="#">
        							          <svg class="nsw-icon nsw-icon--rotate-180" focusable="false" aria-hidden="true">
        							            <use xlink:href="#arrow"></use>
        							          </svg>
        							          <span class="nsw-direction-link__text">
        							            Back <span class="sr-only">a page</span>
        							          </span>
        							        </a>
        							
        							      </li>
        							      <li class="nsw-pagination__item">
        							        <a class="nsw-pagination__link" href="#">
        							          <span class="nsw-pagination__text">
        							            <span class="sr-only">Page </span>1
        							          </span>
        							        </a>
        							      </li>
        							      <li class="nsw-pagination__item">
        							        <a class="nsw-pagination__link" href="#">
        							          <span class="nsw-pagination__text">
        							            <span class="sr-only">Page </span>2
        							          </span>
        							        </a>
        							      </li>
        							      <li class="nsw-pagination__item nsw-pagination__item--is-active">
        							        <a class="nsw-pagination__link is-current" href="#" aria-current="page">
        							          <span class="nsw-pagination__text">
        							            <span class="sr-only">Page </span>3
        							          </span>
        							        </a>
        							      </li>
        							      <li class="nsw-pagination__item">
        							        <a class="nsw-pagination__link" href="#">
        							          <span class="nsw-pagination__text">
        							            <span class="sr-only">Page </span>4
        							          </span>
        							        </a>
        							      </li>
        							      <li class="nsw-pagination__item">
        							        <a class="nsw-pagination__link" href="#">
        							          <span class="nsw-pagination__text">
        							            &hellip;
        							            <span class="sr-only">Page 5</span>
        							          </span>
        							        </a>
        							      </li>
        							      <li class="nsw-pagination__item">
        							        <a class="nsw-pagination__link" href="#">
        							          <span class="nsw-pagination__text">
        							            <span class="sr-only">Page </span>12
        							          </span>
        							        </a>
        							      </li>
        							      <li class="nsw-pagination__item nsw-pagination__item--next-page">
        							        <a class="nsw-direction-link" href="#">
        							          <span class="nsw-direction-link__text">
        							            Next <span class="sr-only">page</span>
        							          </span>
        							          <svg class="nsw-icon" focusable="false" aria-hidden="true">
        							            <use xlink:href="#arrow"></use>
        							          </svg>
        							        </a>
        							      </li>
        							    </ul>
        							  </nav>
        							</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        
          </section>
          <section id="codesection" class="nsw-tabs__content">
            <pre><code class="html">
        &lt;main&gt;
          &lt;div class&#x3D;&quot;nsw-section--white&quot;&gt;
            &lt;div class&#x3D;&quot;nsw-container&quot;&gt;
              &lt;div class&#x3D;&quot;nsw-page-layout&quot;&gt;
                &lt;div class&#x3D;&quot;nsw-page-layout__main&quot;&gt;
                  &lt;div class&#x3D;&quot;nsw-grid&quot;&gt;
                    &lt;div class&#x3D;&quot;nsw-col nsw-col-lg-8 nsw-offset-lg-2&quot;&gt;
        							&lt;div class&#x3D;&quot;nsw-container&quot;&gt;
        							  &lt;nav aria-label&#x3D;&quot;Pagination&quot;&gt;
        							    &lt;ul class&#x3D;&quot;nsw-pagination&quot;&gt;
        							      &lt;li class&#x3D;&quot;nsw-pagination__item nsw-pagination__item--prev-page&quot;&gt;
        							
        							        &lt;a class&#x3D;&quot;nsw-direction-link nsw-direction-link--icon-left&quot; href&#x3D;&quot;#&quot;&gt;
        							          &lt;svg class&#x3D;&quot;nsw-icon nsw-icon--rotate-180&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
        							            &lt;use xlink:href&#x3D;&quot;#arrow&quot;&gt;&lt;/use&gt;
        							          &lt;/svg&gt;
        							          &lt;span class&#x3D;&quot;nsw-direction-link__text&quot;&gt;
        							            Back &lt;span class&#x3D;&quot;sr-only&quot;&gt;a page&lt;/span&gt;
        							          &lt;/span&gt;
        							        &lt;/a&gt;
        							
        							      &lt;/li&gt;
        							      &lt;li class&#x3D;&quot;nsw-pagination__item&quot;&gt;
        							        &lt;a class&#x3D;&quot;nsw-pagination__link&quot; href&#x3D;&quot;#&quot;&gt;
        							          &lt;span class&#x3D;&quot;nsw-pagination__text&quot;&gt;
        							            &lt;span class&#x3D;&quot;sr-only&quot;&gt;Page &lt;/span&gt;1
        							          &lt;/span&gt;
        							        &lt;/a&gt;
        							      &lt;/li&gt;
        							      &lt;li class&#x3D;&quot;nsw-pagination__item&quot;&gt;
        							        &lt;a class&#x3D;&quot;nsw-pagination__link&quot; href&#x3D;&quot;#&quot;&gt;
        							          &lt;span class&#x3D;&quot;nsw-pagination__text&quot;&gt;
        							            &lt;span class&#x3D;&quot;sr-only&quot;&gt;Page &lt;/span&gt;2
        							          &lt;/span&gt;
        							        &lt;/a&gt;
        							      &lt;/li&gt;
        							      &lt;li class&#x3D;&quot;nsw-pagination__item nsw-pagination__item--is-active&quot;&gt;
        							        &lt;a class&#x3D;&quot;nsw-pagination__link is-current&quot; href&#x3D;&quot;#&quot; aria-current&#x3D;&quot;page&quot;&gt;
        							          &lt;span class&#x3D;&quot;nsw-pagination__text&quot;&gt;
        							            &lt;span class&#x3D;&quot;sr-only&quot;&gt;Page &lt;/span&gt;3
        							          &lt;/span&gt;
        							        &lt;/a&gt;
        							      &lt;/li&gt;
        							      &lt;li class&#x3D;&quot;nsw-pagination__item&quot;&gt;
        							        &lt;a class&#x3D;&quot;nsw-pagination__link&quot; href&#x3D;&quot;#&quot;&gt;
        							          &lt;span class&#x3D;&quot;nsw-pagination__text&quot;&gt;
        							            &lt;span class&#x3D;&quot;sr-only&quot;&gt;Page &lt;/span&gt;4
        							          &lt;/span&gt;
        							        &lt;/a&gt;
        							      &lt;/li&gt;
        							      &lt;li class&#x3D;&quot;nsw-pagination__item&quot;&gt;
        							        &lt;a class&#x3D;&quot;nsw-pagination__link&quot; href&#x3D;&quot;#&quot;&gt;
        							          &lt;span class&#x3D;&quot;nsw-pagination__text&quot;&gt;
        							            &amp;hellip;
        							            &lt;span class&#x3D;&quot;sr-only&quot;&gt;Page 5&lt;/span&gt;
        							          &lt;/span&gt;
        							        &lt;/a&gt;
        							      &lt;/li&gt;
        							      &lt;li class&#x3D;&quot;nsw-pagination__item&quot;&gt;
        							        &lt;a class&#x3D;&quot;nsw-pagination__link&quot; href&#x3D;&quot;#&quot;&gt;
        							          &lt;span class&#x3D;&quot;nsw-pagination__text&quot;&gt;
        							            &lt;span class&#x3D;&quot;sr-only&quot;&gt;Page &lt;/span&gt;12
        							          &lt;/span&gt;
        							        &lt;/a&gt;
        							      &lt;/li&gt;
        							      &lt;li class&#x3D;&quot;nsw-pagination__item nsw-pagination__item--next-page&quot;&gt;
        							        &lt;a class&#x3D;&quot;nsw-direction-link&quot; href&#x3D;&quot;#&quot;&gt;
        							          &lt;span class&#x3D;&quot;nsw-direction-link__text&quot;&gt;
        							            Next &lt;span class&#x3D;&quot;sr-only&quot;&gt;page&lt;/span&gt;
        							          &lt;/span&gt;
        							          &lt;svg class&#x3D;&quot;nsw-icon&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
        							            &lt;use xlink:href&#x3D;&quot;#arrow&quot;&gt;&lt;/use&gt;
        							          &lt;/svg&gt;
        							        &lt;/a&gt;
        							      &lt;/li&gt;
        							    &lt;/ul&gt;
        							  &lt;/nav&gt;
        							&lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/main&gt;
        </code></pre>
          </section>
        </div>
      </div>
    </div>
  </div>
  <footer class="nsw-footer">
    <div class="nsw-footer__upper">
      <div class="nsw-container section-links">
      </div>
    </div>
    <div class="nsw-footer__lower">
      <div class="nsw-container">
        <p>We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
        <hr>
        <ul class="nsw-footer-links">
        </ul>
        <div class="nsw-footer__info">
          <p class="nsw-footer__copyright">Copyright © 2021</p>
          <p class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></p>
        </div>
      </div>
    </div>
  </footer>
  <script src="../../js/main.js"></script>
  <script>
    window.NSW.initSite()
    hljs.initHighlightingOnLoad();
</script>
</body>
</html>
