<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - {{title}}</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-light.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/xml.min.js"></script>
</head>

<body class="nsw-body-content">
  <div class="nsw-docs">
    <div class="nsw-docs__nav">
      <div class="nsw-show-lg">
        {{>_docs-side-navigation}}
      </div>
      <div class="nsw-hide-lg">
        <a class="nsw-direction-link" href="#">
          <svg class="nsw-icon nsw-icon--rotate-180" focusable="false" aria-hidden="true">
            <use xlink:href="#arrow"></use>
          </svg>
          <span class="nsw-direction-link__text">Back <span class="sr-only">to home screen</span>
          </span>
        </a>
      </div>
    </div>
    <div class="nsw-docs__main">
      <div class="nsw-docs__header">
        <div class="nsw-docs__masthead">A NSW Government website</div>
        <div class="nsw-docs__title">NSW Digital Design System</div>
      </div>

      <div class="nsw-docs__top">
        <div class="nsw-container">
          <div class="nsw-docs__intro">
            <h1>{{ title }}</h1>
            {{#if component.description}}
              <p>{{ component.description }}</p>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="nsw-docs__content">
        <div class="nsw-container">
{{>_docs-tabbed-content}}
        </div>
      </div>

      {{>_footer  
        respectText="We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture." 
        copyright="Copyright © 2021"
      }}
    </div>
  </div>
  <script src="/js/main.js"></script>
  <script src="/docs/js/docs.js"></script>
  <script>
    window.NSW.initSite()
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>
