<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Full width - Hero banner</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" href="../../css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <script>
    // SVG Sprite Loader
    var svgAjax = new XMLHttpRequest();
    svgAjax.open("GET", "../../assets/svg/sprite.svg", true);
    svgAjax.send();
    svgAjax.onload = function(e) {
      var fragment = document.createRange().createContextualFragment(svgAjax.responseText);
      var svg = fragment.querySelector('svg')
      svg.setAttribute('aria-hidden', true);
      svg.style.cssText = 'position: absolute; width: 0; height: 0; overflow: hidden;'
      document.body.insertBefore(fragment, document.body.childNodes[0]);
    };
    // Replace 'no-js' with 'js' on the html tag
    (function(e){e.className=e.className.replace(/\bno-js\b/,'js')})(document.documentElement);
  </script>
</head>

<body >
  
<nav class="nsw-skipto nsw-container" aria-label="Skip to links">
  <a class="nsw-skipto__link" href="#main-navigation"><span>Skip to navigation</span></a>
  <a class="nsw-skipto__link" href="#content"><span>Skip to content</span></a>
</nav>
<div class="nsw-masthead">
  <div class="nsw-container">
    <p>A NSW Government website</p>
  </div>
</div>
<header class="nsw-header">
  <div class="nsw-header__container">
    <div class="nsw-header__wrapper">
      <div class="nsw-header__center">
        <a href="#" class="nsw-header__logo-link">
          <svg class="nsw-icon nsw-header__logo" focusable="false" aria-hidden="true">
            <use xlink:href="#dpc-logo"></use>
          </svg>
          <span class="sr-only">NSW Department of Premier and Cabinet</span>
        </a>
      </div>
      <div class="nsw-header__left">
        <button type="button" class="nsw-header-btn nsw-header-btn--menu js-open-navigation" aria-expanded="false"
          aria-controls="main-navigation">
          <svg class="nsw-icon nsw-header-btn__icon" focusable="false" aria-hidden="true">
            <use xlink:href="#menu"></use>
          </svg>
          <span class="nsw-header-btn__sub"><span class="sr-only">Open</span> Menu</span>
        </button>
      </div>
      <div class="nsw-header__right">
        <button type="button" class="nsw-header-btn nsw-header-btn--search js-open-search" aria-expanded="false"
          aria-controls="header-search">
          <svg class="nsw-icon nsw-header-btn__icon" focusable="false" aria-hidden="true">
            <use xlink:href="#search"></use>
          </svg>
          <span class="nsw-header-btn__sub"><span class="sr-only">Show</span> Search</span>
        </button>
      </div>
    </div>
    <div class="nsw-search">
      <div id="header-search" class="nsw-search__area js-search-area" hidden>
        <form role="search">
          <label for="nsw-search__input" class="sr-only">Search site for:</label>
          <input autocomplete="off" class="nsw-search__input js-search-input" id="nsw-search__input"
            name="input-autocomplete" type="text">
          <button class="nsw-search__submit" type="submit" aria-label="search">
          <svg class="nsw-icon nsw-search__search-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#search"></use>
          </svg>
          </button>
        </form>
        <button class="nsw-search__close-btn js-close-search" aria-expanded="true" aria-controls="header-search">
          <svg class="nsw-icon nsw-search__close-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#close"></use>
          </svg>
          <span class="sr-only">Close search</span>
        </button>
      </div>
    </div>
  </div>
</header>
<nav id="main-navigation" class="nsw-navigation " aria-label="Main menu">
  <div class="nsw-navigation__header">
    <h2 id="nsw-navigation">Menu</h2>
    <button type="button" class="nsw-navigation__close js-close-navigation" aria-expanded="true">
      <svg class="nsw-icon icon" focusable="false" aria-hidden="true">
        <use xlink:href="#close"></use>
      </svg>
      <span class="sr-only">Close Menu</span>
    </button>
  </div>
  <ul class="nsw-navigation__list">
      <li class="nsw-navigation__list-item">
        <a href="http://google.com" class="nsw-navigation__link">
          <span class="nsw-navigation__link-text">About DPC</span>
        </a>
      </li>
      <li class="nsw-navigation__list-item">
        <a href="/index.html#updates" class="nsw-navigation__link">
          <span class="nsw-navigation__link-text">Updates</span>
        </a>
      </li>
      <li class="nsw-navigation__list-item">
        <a href="/index.html#publications" class="nsw-navigation__link">
          <span class="nsw-navigation__link-text">Publications</span>
        </a>
      </li>
      <li class="nsw-navigation__list-item">
        <a href="/index.html#tools-resources" class="nsw-navigation__link">
          <span class="nsw-navigation__link-text">Tools &amp; Resources</span>
        </a>
      </li>
      <li class="nsw-navigation__list-item">
        <a href="/index.html#contact-us" class="nsw-navigation__link">
          <span class="nsw-navigation__link-text">Contact us</span>
        </a>
      </li>
  </ul>
</nav>

<div class="nsw-hero-banner ">
  <div class="nsw-container">
    <div class="nsw-hero-banner__image-area">
      <img src="https://picsum.photos/id/695/2000/1250" class="nsw-hero-banner__image" alt="">
    </div>
    <div class="nsw-hero-banner__content-area">
      <div class="nsw-hero-banner__content">
        <h2 class="nsw-hero-banner__title">
          <a href="#" class="nsw-hero-banner__link">Buy Regional this Christmas</a>
        </h2>
        <p>NSW is facing one of the worst droughts on record. Buy Regional and support communities in need this Christmas.</p>
        <svg class="nsw-icon nsw-hero-banner__icon" focusable="false" aria-hidden="true">
          <use xlink:href="#arrow"></use>
        </svg>
      </div>
    </div>
  </div>
</div>

<main id="content">
  <section class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-4">
              <div class="nsw-card ">
                  <div class="nsw-card__content">
                      <h2 class="nsw-card__title">
                        <a href="#" class="nsw-card__link">Energy switch</a>
                      </h2>
                      <p class="nsw-card__copy">Save money by comparing electricity and gas plans.</p>
                      <svg class="nsw-icon nsw-card__icon" focusable="false" aria-hidden="true">
                        <use xlink:href="#arrow"></use>
                      </svg>
                  </div>
                  <div class="nsw-card__image-area">
                      <img src="https://picsum.photos/id/3/400/200" alt="" class="nsw-card__image">
                  </div>
              </div>
            </div>
            <div class="nsw-col nsw-col-md-4">
              <div class="nsw-card ">
                  <div class="nsw-card__content">
                      <h2 class="nsw-card__title">
                        <a href="#" class="nsw-card__link">Creative kids</a>
                      </h2>
                      <p class="nsw-card__copy">$100 voucher for children&#x27;s creative and cultural activities.</p>
                      <svg class="nsw-icon nsw-card__icon" focusable="false" aria-hidden="true">
                        <use xlink:href="#arrow"></use>
                      </svg>
                  </div>
                  <div class="nsw-card__image-area">
                      <img src="https://picsum.photos/id/531/400/200" alt="" class="nsw-card__image">
                  </div>
              </div>
            </div>
            <div class="nsw-col nsw-col-md-4">
              <div class="nsw-card ">
                  <div class="nsw-card__content">
                      <h2 class="nsw-card__title">
                        <a href="#" class="nsw-card__link">Active kids</a>
                      </h2>
                      <p class="nsw-card__copy">$100 voucher for children&#x27;s sport, fitness and recreation.</p>
                      <svg class="nsw-icon nsw-card__icon" focusable="false" aria-hidden="true">
                        <use xlink:href="#arrow"></use>
                      </svg>
                  </div>
                  <div class="nsw-card__image-area">
                      <img src="https://picsum.photos/id/646/400/200" alt="" class="nsw-card__image">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nsw-section--light-10">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2 class="nsw-section-title">Energy and utilities</h2>
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
              <div class="nsw-card ">
                  <div class="nsw-card__content">
                      <h2 class="nsw-card__title">
                        <a href="#" class="nsw-card__link">Energy save</a>
                      </h2>
                      <p class="nsw-card__copy">Helps you compare electricity and gas and switch providers.</p>
                      <svg class="nsw-icon nsw-card__icon" focusable="false" aria-hidden="true">
                        <use xlink:href="#arrow"></use>
                      </svg>
                  </div>
              </div>
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
              <div class="nsw-card ">
                  <div class="nsw-card__content">
                      <h2 class="nsw-card__title">
                        <a href="#" class="nsw-card__link">Family rebate</a>
                      </h2>
                      <p class="nsw-card__copy">Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
                      <svg class="nsw-icon nsw-card__icon" focusable="false" aria-hidden="true">
                        <use xlink:href="#arrow"></use>
                      </svg>
                  </div>
              </div>
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
              <div class="nsw-card ">
                  <div class="nsw-card__content">
                      <h2 class="nsw-card__title">
                        <a href="#" class="nsw-card__link">Appliance save</a>
                      </h2>
                      <p class="nsw-card__copy">Concession card holders may be able to save on a new fridge or television.</p>
                      <svg class="nsw-icon nsw-card__icon" focusable="false" aria-hidden="true">
                        <use xlink:href="#arrow"></use>
                      </svg>
                  </div>
              </div>
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
              <div class="nsw-card ">
                  <div class="nsw-card__content">
                      <h2 class="nsw-card__title">
                        <a href="#" class="nsw-card__link">Family rebate</a>
                      </h2>
                      <p class="nsw-card__copy">Helps families with dependants to pay their energy bills. Applications opening again late July for the 2019-20 rebate.</p>
                      <svg class="nsw-icon nsw-card__icon" focusable="false" aria-hidden="true">
                        <use xlink:href="#arrow"></use>
                      </svg>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2 class="nsw-section-title">Latest updates</h2>
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-4">
              <div class="nsw-card ">
                  <div class="nsw-card__content">
                      <h2 class="nsw-card__title">
                        <a href="#" class="nsw-card__link">Nominations open for Green Globe Awards 2019</a>
                      </h2>
                      <p class="nsw-card__tag">Community</p>
                      <p class="nsw-card__date">
                        <time datetime="2019-03-09">09 March 2019</time>
                      </p>
                      <p class="nsw-card__copy">The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
                      <svg class="nsw-icon nsw-card__icon" focusable="false" aria-hidden="true">
                        <use xlink:href="#arrow"></use>
                      </svg>
                  </div>
                  <div class="nsw-card__image-area">
                      <img src="https://picsum.photos/id/292/400/200" alt="" class="nsw-card__image">
                  </div>
              </div>
            </div>
            <div class="nsw-col nsw-col-md-4">
              <div class="nsw-card ">
                  <div class="nsw-card__content">
                      <h2 class="nsw-card__title">
                        <a href="#" class="nsw-card__link">Quality green spaces and a million more trees for NSW</a>
                      </h2>
                      <p class="nsw-card__tag">Environment</p>
                      <p class="nsw-card__date">
                        <time datetime="2019-03-01">01 March 2019</time>
                      </p>
                      <p class="nsw-card__copy">The NSW Government will create more quality green spaces and increase ther tree canopy in Sydney bt 2022.</p>
                      <svg class="nsw-icon nsw-card__icon" focusable="false" aria-hidden="true">
                        <use xlink:href="#arrow"></use>
                      </svg>
                  </div>
                  <div class="nsw-card__image-area">
                      <img src="https://picsum.photos/id/28/400/200" alt="" class="nsw-card__image">
                  </div>
              </div>
            </div>
            <div class="nsw-col nsw-col-md-4">
              <div class="nsw-card ">
                  <div class="nsw-card__content">
                      <h2 class="nsw-card__title">
                        <a href="#" class="nsw-card__link">New Premier&#x27;s Priority to lift literacy and numeracy standards</a>
                      </h2>
                      <p class="nsw-card__tag">Education</p>
                      <p class="nsw-card__date">
                        <time datetime="2019-02-20">20 February 2019</time>
                      </p>
                      <p class="nsw-card__copy">The NSW Government will redouble its efforts to lift literacy and numeracy standards across NSW public schools to ensure students are given every opportunity to be their best.</p>
                      <svg class="nsw-icon nsw-card__icon" focusable="false" aria-hidden="true">
                        <use xlink:href="#arrow"></use>
                      </svg>
                  </div>
                  <div class="nsw-card__image-area">
                      <img src="https://picsum.photos/id/24/400/200" alt="" class="nsw-card__image">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="nsw-footer">
  <div class="nsw-footer__upper">
    <div class="nsw-container section-links">
        <div class="section-links__group">
          <h3 class="section-links__heading"><a href="#">Popular</a></h3>
          <ul class="section-links__list">
              <li class="section-links__item"><a href="#">Contact the Premier</a></li>
              <li class="section-links__item"><a href="#">Contact a Minister</a></li>
              <li class="section-links__item"><a href="#">About NSW</a></li>
              <li class="section-links__item"><a href="#">State flag</a></li>
              <li class="section-links__item"><a href="#">State Funerals</a></li>
              <li class="section-links__item"><a href="#">Buy Regional</a></li>
              <li class="section-links__item"><a href="#">Life events</a></li>
              <li class="section-links__item"><a href="#">NSW Government directory</a></li>
              <li class="section-links__item"><a href="#">Service NSW locations</a></li>
          </ul>
        </div>
        <div class="section-links__group">
          <h3 class="section-links__heading"><a href="#">What&#x27;s happening</a></h3>
          <ul class="section-links__list">
              <li class="section-links__item"><a href="#">News</a></li>
              <li class="section-links__item"><a href="#">Ministerial media releases</a></li>
              <li class="section-links__item"><a href="#">Projects and initiatives</a></li>
              <li class="section-links__item"><a href="#">Have your say</a></li>
              <li class="section-links__item"><a href="#">NSW school and public holidays</a></li>
              <li class="section-links__item"><a href="#">Find a job in NSW Government</a></li>
              <li class="section-links__item"><a href="#">I work for NSW</a></li>
          </ul>
        </div>
        <div class="section-links__group">
          <h3 class="section-links__heading"><a href="#">Departments</a></h3>
          <ul class="section-links__list">
              <li class="section-links__item"><a href="#">Customer Service</a></li>
              <li class="section-links__item"><a href="#">Communities and Justice</a></li>
              <li class="section-links__item"><a href="#">Education</a></li>
              <li class="section-links__item"><a href="#">Health</a></li>
              <li class="section-links__item"><a href="#">Planning, Industry and Environment</a></li>
              <li class="section-links__item"><a href="#">Premier and Cabinet</a></li>
              <li class="section-links__item"><a href="#">Regional NSW</a></li>
              <li class="section-links__item"><a href="#">Transport</a></li>
              <li class="section-links__item"><a href="#">Treasury</a></li>
          </ul>
        </div>
        <div class="section-links__group">
          <h3 class="section-links__heading"><a href="#">NSW Government</a></h3>
          <ul class="section-links__list">
              <li class="section-links__item"><a href="#">The Premier</a></li>
              <li class="section-links__item"><a href="#">NSW Ministers</a></li>
              <li class="section-links__item"><a href="#">Find your local Member of Parliament</a></li>
              <li class="section-links__item"><a href="#">Boards and Committees</a></li>
              <li class="section-links__item"><a href="#">NSW Government communications</a></li>
              <li class="section-links__item"><a href="#">Unsolicited proposals</a></li>
              <li class="section-links__item"><a href="#">Premier&#x27;s Priorities</a></li>
          </ul>
        </div>
    </div>
  </div>
  <div class="nsw-footer__lower">
    <div class="nsw-container">
      <p>We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
      <hr>
      <ul class="nsw-footer-links">
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Accessibility</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Copyright</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Disclaimer</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Privacy</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Content sources</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">RSS</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Contact us</a>
          </li>
      </ul>
      <div class="nsw-footer__info">
        <p class="nsw-footer__copyright">Copyright © 2021</p>
        <p class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></p>
      </div>
    </div>
  </div>
</footer>

  <script src="../../js/main.js"></script>
  <script>window.NSW.initSite()</script>
</body>
</html>
