<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Tables</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" href="../../css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/xml.min.js"></script>  <script>
    // SVG Sprite Loader
    var svgAjax = new XMLHttpRequest();
    svgAjax.open("GET", "../../assets/svg/sprite.svg", true);
    svgAjax.send();
    svgAjax.onload = function(e) {
      var fragment = document.createRange().createContextualFragment(svgAjax.responseText);
      var svg = fragment.querySelector('svg')
      svg.setAttribute('aria-hidden', true);
      svg.style.cssText = 'position: absolute; width: 0; height: 0; overflow: hidden;'
      document.body.insertBefore(fragment, document.body.childNodes[0]);
    };
    // Replace 'no-js' with 'js' on the html tag
    (function(e){e.className=e.className.replace(/\bno-js\b/,'js')})(document.documentElement);
  </script>
  <style>
    .nsw-container {position: relative;} /* to align grid overlay */
  </style>
</head>

<body >
  <div class="nsw-masthead">
    <div class="nsw-m-left-md">
      <p>A NSW Government website</p>
    </div>
  </div>
  <header class="nsw-header nsw-header--simple">
    <div class="nsw-m-left-md">
      <div class="nsw-header__wrapper">
        <div class="nsw-header__center">
          <a href="#" class="nsw-header__logo-link">
            <img class="site-logo" src="https://www.digital.nsw.gov.au//themes/custom/corporateplus/nsw-digitalnsw-combined.svg?v=20191114111300" alt="digital.nsw">
            <span class="sr-only">digital.nsw</span>
          </a>
        </div>
      </div>
  </header>
  <div class="nsw-grid nsw-m-none" style="margin:0; /* helpers don't override grid */">
    <div class="nsw-col-3 nsw-col">
      <nav class="nsw-sidenav nsw-m-left-sm nsw-p-right-md" aria-labelledby="componentsTitle side navigation">
        <div class="nsw-sidenav__header">
          <h2 id="componentsTitle" class="nsw-sidenav__heading">
            <span class="nsw-sidenav__heading-link" aria-controls="nav-default">Components</span></h2>
        </div>
        <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
            <li class="nsw-sidenav__list-item ">
              <a href="/components/accordion/index.html" class="nsw-sidenav__link " >
                Accordion
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/accordion/index.html" class="nsw-sidenav__link " >
                Accordion
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/button/index.html" class="nsw-sidenav__link " >
                Buttons
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/callout/index.html" class="nsw-sidenav__link " >
                Callout
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/card/index.html" class="nsw-sidenav__link " >
                Card
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/direction-links/index.html" class="nsw-sidenav__link " >
                Direction links
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/feature-tile/index.html" class="nsw-sidenav__link " >
                Feature tile
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/footer/index.html" class="nsw-sidenav__link " >
                Footer
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/forms/index.html" class="nsw-sidenav__link " >
                Forms
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/site-wide-message/index.html" class="nsw-sidenav__link " >
                Global alert
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/header/index.html" class="nsw-sidenav__link " >
                Header
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/hero-banner/index.html" class="nsw-sidenav__link " >
                Hero banner
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/hero-search/index.html" class="nsw-sidenav__link " >
                Hero search
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/in-page-navigation/index.html" class="nsw-sidenav__link " >
                In-page navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/notification/index.html" class="nsw-sidenav__link " >
                In-page notification
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/link-list/index.html" class="nsw-sidenav__link " >
                Link list
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/main-navigation/index.html" class="nsw-sidenav__link " >
                Main navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/pagination/index.html" class="nsw-sidenav__link " >
                Pagination
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/side-navigation/index.html" class="nsw-sidenav__link " >
                Side navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/social-bar/index.html" class="nsw-sidenav__link " >
                Social bar
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tables/index.html" class="nsw-sidenav__link " >
                Tables
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tab-navigation/index.html" class="nsw-sidenav__link " >
                Tabs
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tags/index.html" class="nsw-sidenav__link " >
                Tags
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/breadcrumbs/index.html" class="nsw-sidenav__link " >
                Breadcrumbs
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/breadcrumbs/index.html" class="nsw-sidenav__link " >
                Breadcrumbs
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/button/index.html" class="nsw-sidenav__link " >
                Buttons
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/callout/index.html" class="nsw-sidenav__link " >
                Callout
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/card/index.html" class="nsw-sidenav__link " >
                Card
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/direction-links/index.html" class="nsw-sidenav__link " >
                Direction links
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/feature-tile/index.html" class="nsw-sidenav__link " >
                Feature tile
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/footer/index.html" class="nsw-sidenav__link " >
                Footer
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/forms/index.html" class="nsw-sidenav__link " >
                Forms
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/header/index.html" class="nsw-sidenav__link " >
                Header
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/hero-banner/index.html" class="nsw-sidenav__link " >
                Hero banner
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/hero-search/index.html" class="nsw-sidenav__link " >
                Hero search
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/in-page-navigation/index.html" class="nsw-sidenav__link " >
                In-page navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/link-list/index.html" class="nsw-sidenav__link " >
                Link list
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/main-navigation/index.html" class="nsw-sidenav__link " >
                Main navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/notification/index.html" class="nsw-sidenav__link " >
                In-page notification
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/pagination/index.html" class="nsw-sidenav__link " >
                Pagination
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/side-navigation/index.html" class="nsw-sidenav__link " >
                Side navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/site-wide-message/index.html" class="nsw-sidenav__link " >
                Global alert
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/social-bar/index.html" class="nsw-sidenav__link " >
                Social bar
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tab-navigation/index.html" class="nsw-sidenav__link " >
                Tabs
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tables/index.html" class="nsw-sidenav__link " >
                Tables
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tags/index.html" class="nsw-sidenav__link " >
                Tags
              </a>
            </li>
        </ul>
        <div class="nsw-sidenav__header">
          <h2 id="stylesTitle" class="nsw-sidenav__heading">
            <span class="nsw-sidenav__heading-link" aria-controls="nav-default">Styles</span></h2>
        </div>
        <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/grid/index.html" class="nsw-sidenav__link" >
                Grid
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/iconography/index.html" class="nsw-sidenav__link" >
                Iconography
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/layout/index.html" class="nsw-sidenav__link" >
                Layout
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/typography/index.html" class="nsw-sidenav__link" >
                Typography
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/grid/index.html" class="nsw-sidenav__link" >
                Grid
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/iconography/index.html" class="nsw-sidenav__link" >
                Iconography
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/layout/index.html" class="nsw-sidenav__link" >
                Layout
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/typography/index.html" class="nsw-sidenav__link" >
                Typography
              </a>
            </li>
        </ul>
        <div class="nsw-sidenav__header">
          <h2 id="templatesTitle" class="nsw-sidenav__heading">
            <span class="nsw-sidenav__heading-link" aria-controls="nav-default">Templates</span></h2>
        </div>
        <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/full-width-hero-banner/index.html" class="nsw-sidenav__link " >
                Full width - Hero banner
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/full-width-hero-search/index.html" class="nsw-sidenav__link " >
                Full width - Hero search
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/nav-sidebar-left/index.html" class="nsw-sidenav__link " >
                Two column - Side navigation left align (nav hides on mobile)
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/sidebar-right/index.html" class="nsw-sidenav__link " >
                Two column - Sidebar right align
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/full-width-hero-banner/index.html" class="nsw-sidenav__link " >
                Full width - Hero banner
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/full-width-hero-search/index.html" class="nsw-sidenav__link " >
                Full width - Hero search
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/nav-sidebar-left/index.html" class="nsw-sidenav__link " >
                Two column - Side navigation left align (nav hides on mobile)
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/sidebar-right/index.html" class="nsw-sidenav__link " >
                Two column - Sidebar right align
              </a>
            </li>
        </ul>
      </nav>
    </div>
    <div class="nsw-p-none nsw-col-9 nsw-col" style="padding:0; /* helpers don't override grid */">
      <div class="nsw-docs-content-header nsw-bg--light-10 nsw-p-x-md nsw-p-y-xs">
          <h1>Tables</h1>
      </div>
      <div>
        <div class="nsw-tabs js-tabs">
          <div class="nsw-p-left-md nsw-bg--light-10">
            <ul class="nsw-tabs__list">
              <li class="nsw-tabs__list-item">
                <a href="#section147447" class="nsw-tabs__link">Guidance</a>
              </li>
              <li class="nsw-tabs__list-item">
                <a href="#demosection" class="nsw-tabs__link">Interactive demo</a>
              </li>
              <li class="nsw-tabs__list-item">
                <a href="#codesection" class="nsw-tabs__link">Code</a>
              </li>
            </ul>
          </div>
          <section id="section147447" class="nsw-tabs__content">
              <h2 id="guidance">Guidance</h2>
        <p>Tables provide a structured way to display information in rows and columns that make it easier for users to scan, sort and compare information.</p>
        <h3 id="when-to-use-this-component">When to use this component</h3>
        <p>Use tables to display large data sets that share common attributes to make it easier for users to scan, sort and compare.</p>
        <p>Do:</p>
        <ul>
        <li>Left align table contents with the exception of numerical data, to facilitate easy scanning.</li>
        <li>Right align numerical data and apply mono-spacing for easier scanning and comparison.</li>
        <li>Display content in a way that is meaningful, such as ordering by hierarchy or alphabetically. Organise contents with the most important/relevant from top to bottom or left to right.</li>
        <li>Use a caption to describe the table&#39;s contents. The caption may be displayed at the top if required.</li>
        <li>Use borders to increase readability of content-dense tables.</li>
        <li>Favour wrapping over truncating content. Multiple items starting with the same word may appear the same when truncated.</li>
        <li>Customise the table width for greater legibility. Tables with sparse, widely separated data are hard to scan and read.</li>
        </ul>
        <h3 id="when-not-to-use-this-component">When not to use this component</h3>
        <p>Don’t use the tables to layout content on a page. You can combine other patterns for displaying your content.</p>
        <h3 id="how-this-component-works">How this component works</h3>
        <p>At smaller breakpoints, the tables scroll horizontally by default.</p>
        <h2 id="accessibility">Accessibility</h2>
        <p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
        
        
          </section>
          <section id="demosection" class="nsw-tabs__content">
            
        <main>
          <div class="nsw-section--white">
            <div class="nsw-container">
              <div class="nsw-page-layout">
                <div class="nsw-page-layout__main">
                  <div class="nsw-grid">
                    <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
                      <div class="nsw-wysiwyg-content">
                        <h2>Responsive Tables (scroll on mobile)</h2>
                        <div class="nsw-table-responsive" role="region" aria-labelledby="caption0" tabindex="0">
                          <table class="nsw-table   ">
                            <caption id="caption0">Table caption for responsive scroll version</caption>
                            <thead>
                              <tr>
                                <th width="20%">Method</th>
                                <th width="40%">Description</th>
                                <th width="40%">Purpose</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <p><a href="#">Annotated prototypes</a></p>
                                </td>
                                <td>
                                  <p>Prototypes that include brief notes or comments that explain the rationale behind features and design choices.</p>
                                </td>
                                <td>
                                  <p>Help give context behind decisions and reminds team members why specific design elements were selected.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p><a href="#">Storyboards</a></p>
                                </td>
                                <td>
                                  <p>Sequential images showing the main interactions or events that take place throughout a service.</p>
                                </td>
                                <td>
                                  <p>Help team members and stakeholders visualize the intended user experience.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p><a href="#">Service blueprint</a></p>
                                </td>
                                <td>
                                  <p>A diagram that visualizes a new process or service and how the organization’s internal processes, people, systems and policies will support it.</p>
                                </td>
                                <td>
                                  <p>Helps organizations understand what will be needed for a successful implementation.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p><a href="#">User stories</a></p>
                                </td>
                                <td>
                                  <p>Short sentences written from the perspective of users, describing their need and the reason behind.</p>
                                </td>
                                <td>
                                  <p>Help document the different needs that a service must address, shifting the focus from creating detailed requirements to discussing user needs within a specific context.</p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
        
                        <h2>Striped</h2>
                        <div class="nsw-table-responsive" role="region" aria-labelledby="caption1" tabindex="0">
                          <table class="nsw-table  nsw-table--striped ">
                            <caption id="caption1">Table caption for responsive scroll version</caption>
                            <thead>
                              <tr>
                                <th width="20%">Method</th>
                                <th width="40%">Description</th>
                                <th width="40%">Purpose</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <p><a href="#">Annotated prototypes</a></p>
                                </td>
                                <td>
                                  <p>Prototypes that include brief notes or comments that explain the rationale behind features and design choices.</p>
                                </td>
                                <td>
                                  <p>Help give context behind decisions and reminds team members why specific design elements were selected.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p><a href="#">Storyboards</a></p>
                                </td>
                                <td>
                                  <p>Sequential images showing the main interactions or events that take place throughout a service.</p>
                                </td>
                                <td>
                                  <p>Help team members and stakeholders visualize the intended user experience.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p><a href="#">Service blueprint</a></p>
                                </td>
                                <td>
                                  <p>A diagram that visualizes a new process or service and how the organization’s internal processes, people, systems and policies will support it.</p>
                                </td>
                                <td>
                                  <p>Helps organizations understand what will be needed for a successful implementation.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p><a href="#">User stories</a></p>
                                </td>
                                <td>
                                  <p>Short sentences written from the perspective of users, describing their need and the reason behind.</p>
                                </td>
                                <td>
                                  <p>Help document the different needs that a service must address, shifting the focus from creating detailed requirements to discussing user needs within a specific context.</p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
        
                        <h2>Caption Top</h2>
                        <div class="nsw-table-responsive" role="region" aria-labelledby="caption2" tabindex="0">
                          <table class="nsw-table nsw-table--caption-top  ">
                            <caption id="caption2">Table caption for responsive scroll version</caption>
                            <thead>
                              <tr>
                                <th width="20%">Method</th>
                                <th width="40%">Description</th>
                                <th width="40%">Purpose</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <p><a href="#">Annotated prototypes</a></p>
                                </td>
                                <td>
                                  <p>Prototypes that include brief notes or comments that explain the rationale behind features and design choices.</p>
                                </td>
                                <td>
                                  <p>Help give context behind decisions and reminds team members why specific design elements were selected.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p><a href="#">Storyboards</a></p>
                                </td>
                                <td>
                                  <p>Sequential images showing the main interactions or events that take place throughout a service.</p>
                                </td>
                                <td>
                                  <p>Help team members and stakeholders visualize the intended user experience.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p><a href="#">Service blueprint</a></p>
                                </td>
                                <td>
                                  <p>A diagram that visualizes a new process or service and how the organization’s internal processes, people, systems and policies will support it.</p>
                                </td>
                                <td>
                                  <p>Helps organizations understand what will be needed for a successful implementation.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p><a href="#">User stories</a></p>
                                </td>
                                <td>
                                  <p>Short sentences written from the perspective of users, describing their need and the reason behind.</p>
                                </td>
                                <td>
                                  <p>Help document the different needs that a service must address, shifting the focus from creating detailed requirements to discussing user needs within a specific context.</p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
        
                        <h2>Bordered</h2>
                        <div class="nsw-table-responsive" role="region" aria-labelledby="caption3" tabindex="0">
                          <table class="nsw-table   nsw-table--bordered">
                            <caption id="caption3">Table caption for responsive scroll version</caption>
                            <thead>
                              <tr>
                                <th width="20%">Method</th>
                                <th width="40%">Description</th>
                                <th width="40%">Purpose</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <p><a href="#">Annotated prototypes</a></p>
                                </td>
                                <td>
                                  <p>Prototypes that include brief notes or comments that explain the rationale behind features and design choices.</p>
                                </td>
                                <td>
                                  <p>Help give context behind decisions and reminds team members why specific design elements were selected.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p><a href="#">Storyboards</a></p>
                                </td>
                                <td>
                                  <p>Sequential images showing the main interactions or events that take place throughout a service.</p>
                                </td>
                                <td>
                                  <p>Help team members and stakeholders visualize the intended user experience.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p><a href="#">Service blueprint</a></p>
                                </td>
                                <td>
                                  <p>A diagram that visualizes a new process or service and how the organization’s internal processes, people, systems and policies will support it.</p>
                                </td>
                                <td>
                                  <p>Helps organizations understand what will be needed for a successful implementation.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p><a href="#">User stories</a></p>
                                </td>
                                <td>
                                  <p>Short sentences written from the perspective of users, describing their need and the reason behind.</p>
                                </td>
                                <td>
                                  <p>Help document the different needs that a service must address, shifting the focus from creating detailed requirements to discussing user needs within a specific context.</p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
        
                        <h2>Stripe and Bordered</h2>
                        <div class="nsw-table-responsive" role="region" aria-labelledby="caption4" tabindex="0">
                          <table class="nsw-table  nsw-table--striped nsw-table--bordered">
                            <caption id="caption4">Table caption for responsive scroll version</caption>
                            <thead>
                              <tr>
                                <th width="20%">Method</th>
                                <th width="40%">Description</th>
                                <th width="40%">Purpose</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <p><a href="#">Annotated prototypes</a></p>
                                </td>
                                <td>
                                  <p>Prototypes that include brief notes or comments that explain the rationale behind features and design choices.</p>
                                </td>
                                <td>
                                  <p>Help give context behind decisions and reminds team members why specific design elements were selected.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p><a href="#">Storyboards</a></p>
                                </td>
                                <td>
                                  <p>Sequential images showing the main interactions or events that take place throughout a service.</p>
                                </td>
                                <td>
                                  <p>Help team members and stakeholders visualize the intended user experience.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p><a href="#">Service blueprint</a></p>
                                </td>
                                <td>
                                  <p>A diagram that visualizes a new process or service and how the organization’s internal processes, people, systems and policies will support it.</p>
                                </td>
                                <td>
                                  <p>Helps organizations understand what will be needed for a successful implementation.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p><a href="#">User stories</a></p>
                                </td>
                                <td>
                                  <p>Short sentences written from the perspective of users, describing their need and the reason behind.</p>
                                </td>
                                <td>
                                  <p>Help document the different needs that a service must address, shifting the focus from creating detailed requirements to discussing user needs within a specific context.</p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        
          </section>
          <section id="codesection" class="nsw-tabs__content">
            <pre><code class="html">
        &lt;main&gt;
          &lt;div class&#x3D;&quot;nsw-section--white&quot;&gt;
            &lt;div class&#x3D;&quot;nsw-container&quot;&gt;
              &lt;div class&#x3D;&quot;nsw-page-layout&quot;&gt;
                &lt;div class&#x3D;&quot;nsw-page-layout__main&quot;&gt;
                  &lt;div class&#x3D;&quot;nsw-grid&quot;&gt;
                    &lt;div class&#x3D;&quot;nsw-col nsw-col-lg-8 nsw-offset-lg-2&quot;&gt;
                      &lt;div class&#x3D;&quot;nsw-wysiwyg-content&quot;&gt;
                        &lt;h2&gt;Responsive Tables (scroll on mobile)&lt;/h2&gt;
                        &lt;div class&#x3D;&quot;nsw-table-responsive&quot; role&#x3D;&quot;region&quot; aria-labelledby&#x3D;&quot;caption0&quot; tabindex&#x3D;&quot;0&quot;&gt;
                          &lt;table class&#x3D;&quot;nsw-table   &quot;&gt;
                            &lt;caption id&#x3D;&quot;caption0&quot;&gt;Table caption for responsive scroll version&lt;/caption&gt;
                            &lt;thead&gt;
                              &lt;tr&gt;
                                &lt;th width&#x3D;&quot;20%&quot;&gt;Method&lt;/th&gt;
                                &lt;th width&#x3D;&quot;40%&quot;&gt;Description&lt;/th&gt;
                                &lt;th width&#x3D;&quot;40%&quot;&gt;Purpose&lt;/th&gt;
                              &lt;/tr&gt;
                            &lt;/thead&gt;
                            &lt;tbody&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Annotated prototypes&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Prototypes that include brief notes or comments that explain the rationale behind features and design choices.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Help give context behind decisions and reminds team members why specific design elements were selected.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Storyboards&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Sequential images showing the main interactions or events that take place throughout a service.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Help team members and stakeholders visualize the intended user experience.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Service blueprint&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;A diagram that visualizes a new process or service and how the organization’s internal processes, people, systems and policies will support it.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Helps organizations understand what will be needed for a successful implementation.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;User stories&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Short sentences written from the perspective of users, describing their need and the reason behind.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Help document the different needs that a service must address, shifting the focus from creating detailed requirements to discussing user needs within a specific context.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                            &lt;/tbody&gt;
                          &lt;/table&gt;
                        &lt;/div&gt;
        
                        &lt;h2&gt;Striped&lt;/h2&gt;
                        &lt;div class&#x3D;&quot;nsw-table-responsive&quot; role&#x3D;&quot;region&quot; aria-labelledby&#x3D;&quot;caption1&quot; tabindex&#x3D;&quot;0&quot;&gt;
                          &lt;table class&#x3D;&quot;nsw-table  nsw-table--striped &quot;&gt;
                            &lt;caption id&#x3D;&quot;caption1&quot;&gt;Table caption for responsive scroll version&lt;/caption&gt;
                            &lt;thead&gt;
                              &lt;tr&gt;
                                &lt;th width&#x3D;&quot;20%&quot;&gt;Method&lt;/th&gt;
                                &lt;th width&#x3D;&quot;40%&quot;&gt;Description&lt;/th&gt;
                                &lt;th width&#x3D;&quot;40%&quot;&gt;Purpose&lt;/th&gt;
                              &lt;/tr&gt;
                            &lt;/thead&gt;
                            &lt;tbody&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Annotated prototypes&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Prototypes that include brief notes or comments that explain the rationale behind features and design choices.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Help give context behind decisions and reminds team members why specific design elements were selected.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Storyboards&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Sequential images showing the main interactions or events that take place throughout a service.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Help team members and stakeholders visualize the intended user experience.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Service blueprint&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;A diagram that visualizes a new process or service and how the organization’s internal processes, people, systems and policies will support it.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Helps organizations understand what will be needed for a successful implementation.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;User stories&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Short sentences written from the perspective of users, describing their need and the reason behind.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Help document the different needs that a service must address, shifting the focus from creating detailed requirements to discussing user needs within a specific context.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                            &lt;/tbody&gt;
                          &lt;/table&gt;
                        &lt;/div&gt;
        
                        &lt;h2&gt;Caption Top&lt;/h2&gt;
                        &lt;div class&#x3D;&quot;nsw-table-responsive&quot; role&#x3D;&quot;region&quot; aria-labelledby&#x3D;&quot;caption2&quot; tabindex&#x3D;&quot;0&quot;&gt;
                          &lt;table class&#x3D;&quot;nsw-table nsw-table--caption-top  &quot;&gt;
                            &lt;caption id&#x3D;&quot;caption2&quot;&gt;Table caption for responsive scroll version&lt;/caption&gt;
                            &lt;thead&gt;
                              &lt;tr&gt;
                                &lt;th width&#x3D;&quot;20%&quot;&gt;Method&lt;/th&gt;
                                &lt;th width&#x3D;&quot;40%&quot;&gt;Description&lt;/th&gt;
                                &lt;th width&#x3D;&quot;40%&quot;&gt;Purpose&lt;/th&gt;
                              &lt;/tr&gt;
                            &lt;/thead&gt;
                            &lt;tbody&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Annotated prototypes&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Prototypes that include brief notes or comments that explain the rationale behind features and design choices.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Help give context behind decisions and reminds team members why specific design elements were selected.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Storyboards&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Sequential images showing the main interactions or events that take place throughout a service.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Help team members and stakeholders visualize the intended user experience.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Service blueprint&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;A diagram that visualizes a new process or service and how the organization’s internal processes, people, systems and policies will support it.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Helps organizations understand what will be needed for a successful implementation.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;User stories&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Short sentences written from the perspective of users, describing their need and the reason behind.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Help document the different needs that a service must address, shifting the focus from creating detailed requirements to discussing user needs within a specific context.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                            &lt;/tbody&gt;
                          &lt;/table&gt;
                        &lt;/div&gt;
        
                        &lt;h2&gt;Bordered&lt;/h2&gt;
                        &lt;div class&#x3D;&quot;nsw-table-responsive&quot; role&#x3D;&quot;region&quot; aria-labelledby&#x3D;&quot;caption3&quot; tabindex&#x3D;&quot;0&quot;&gt;
                          &lt;table class&#x3D;&quot;nsw-table   nsw-table--bordered&quot;&gt;
                            &lt;caption id&#x3D;&quot;caption3&quot;&gt;Table caption for responsive scroll version&lt;/caption&gt;
                            &lt;thead&gt;
                              &lt;tr&gt;
                                &lt;th width&#x3D;&quot;20%&quot;&gt;Method&lt;/th&gt;
                                &lt;th width&#x3D;&quot;40%&quot;&gt;Description&lt;/th&gt;
                                &lt;th width&#x3D;&quot;40%&quot;&gt;Purpose&lt;/th&gt;
                              &lt;/tr&gt;
                            &lt;/thead&gt;
                            &lt;tbody&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Annotated prototypes&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Prototypes that include brief notes or comments that explain the rationale behind features and design choices.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Help give context behind decisions and reminds team members why specific design elements were selected.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Storyboards&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Sequential images showing the main interactions or events that take place throughout a service.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Help team members and stakeholders visualize the intended user experience.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Service blueprint&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;A diagram that visualizes a new process or service and how the organization’s internal processes, people, systems and policies will support it.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Helps organizations understand what will be needed for a successful implementation.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;User stories&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Short sentences written from the perspective of users, describing their need and the reason behind.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Help document the different needs that a service must address, shifting the focus from creating detailed requirements to discussing user needs within a specific context.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                            &lt;/tbody&gt;
                          &lt;/table&gt;
                        &lt;/div&gt;
        
                        &lt;h2&gt;Stripe and Bordered&lt;/h2&gt;
                        &lt;div class&#x3D;&quot;nsw-table-responsive&quot; role&#x3D;&quot;region&quot; aria-labelledby&#x3D;&quot;caption4&quot; tabindex&#x3D;&quot;0&quot;&gt;
                          &lt;table class&#x3D;&quot;nsw-table  nsw-table--striped nsw-table--bordered&quot;&gt;
                            &lt;caption id&#x3D;&quot;caption4&quot;&gt;Table caption for responsive scroll version&lt;/caption&gt;
                            &lt;thead&gt;
                              &lt;tr&gt;
                                &lt;th width&#x3D;&quot;20%&quot;&gt;Method&lt;/th&gt;
                                &lt;th width&#x3D;&quot;40%&quot;&gt;Description&lt;/th&gt;
                                &lt;th width&#x3D;&quot;40%&quot;&gt;Purpose&lt;/th&gt;
                              &lt;/tr&gt;
                            &lt;/thead&gt;
                            &lt;tbody&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Annotated prototypes&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Prototypes that include brief notes or comments that explain the rationale behind features and design choices.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Help give context behind decisions and reminds team members why specific design elements were selected.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Storyboards&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Sequential images showing the main interactions or events that take place throughout a service.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Help team members and stakeholders visualize the intended user experience.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Service blueprint&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;A diagram that visualizes a new process or service and how the organization’s internal processes, people, systems and policies will support it.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Helps organizations understand what will be needed for a successful implementation.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                              &lt;tr&gt;
                                &lt;td&gt;
                                  &lt;p&gt;&lt;a href&#x3D;&quot;#&quot;&gt;User stories&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Short sentences written from the perspective of users, describing their need and the reason behind.&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                  &lt;p&gt;Help document the different needs that a service must address, shifting the focus from creating detailed requirements to discussing user needs within a specific context.&lt;/p&gt;
                                &lt;/td&gt;
                              &lt;/tr&gt;
                            &lt;/tbody&gt;
                          &lt;/table&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/main&gt;
        </code></pre>
          </section>
        </div>
      </div>
    </div>
  </div>
  <footer class="nsw-footer">
    <div class="nsw-footer__upper">
      <div class="nsw-container section-links">
      </div>
    </div>
    <div class="nsw-footer__lower">
      <div class="nsw-container">
        <p>We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
        <hr>
        <ul class="nsw-footer-links">
        </ul>
        <div class="nsw-footer__info">
          <p class="nsw-footer__copyright">Copyright © 2021</p>
          <p class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></p>
        </div>
      </div>
    </div>
  </footer>
  <script src="../../js/main.js"></script>
  <script>
    window.NSW.initSite()
    hljs.initHighlightingOnLoad();
</script>
</body>
</html>
