<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Two column - Sidebar right align</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" href="../../css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/xml.min.js"></script>  <script>
    // SVG Sprite Loader
    var svgAjax = new XMLHttpRequest();
    svgAjax.open("GET", "../../assets/svg/sprite.svg", true);
    svgAjax.send();
    svgAjax.onload = function(e) {
      var fragment = document.createRange().createContextualFragment(svgAjax.responseText);
      var svg = fragment.querySelector('svg')
      svg.setAttribute('aria-hidden', true);
      svg.style.cssText = 'position: absolute; width: 0; height: 0; overflow: hidden;'
      document.body.insertBefore(fragment, document.body.childNodes[0]);
    };
    // Replace 'no-js' with 'js' on the html tag
    (function(e){e.className=e.className.replace(/\bno-js\b/,'js')})(document.documentElement);
  </script>
</head>

<body >
  <div class="nsw-masthead">
    <div class="nsw-m-left-md">
      <p>A NSW Government website</p>
    </div>
  </div>
  <header class="nsw-header nsw-header--simple">
    <div class="nsw-m-left-md">
      <div class="nsw-header__wrapper">
        <div class="nsw-header__center">
          <a href="#" class="nsw-header__logo-link">
            <img class="site-logo" src="https://www.digital.nsw.gov.au//themes/custom/corporateplus/nsw-digitalnsw-combined.svg?v=20191114111300" alt="digital.nsw">
            <span class="sr-only">digital.nsw</span>
          </a>
        </div>
      </div>
  </header>
  <div class="nsw-grid nsw-m-none" style="margin:0;">
    <div class="nsw-col-3 nsw-col">
      <nav class="nsw-sidenav nsw-m-left-sm nsw-p-right-md" aria-labelledby="componentsTitle side navigation">
        <div class="nsw-sidenav__header">
          <h2 id="componentsTitle" class="nsw-sidenav__heading">
            <span class="nsw-sidenav__heading-link" aria-controls="nav-default">Components</span></h2>
        </div>
        <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
            <li class="nsw-sidenav__list-item ">
              <a href="/components/accordion/index.html" class="nsw-sidenav__link " >
                Accordion
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/breadcrumbs/index.html" class="nsw-sidenav__link " >
                Breadcrumbs
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/button/index.html" class="nsw-sidenav__link " >
                Buttons
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/callout/index.html" class="nsw-sidenav__link " >
                Callout
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/card/index.html" class="nsw-sidenav__link " >
                Card
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/direction-links/index.html" class="nsw-sidenav__link " >
                Direction links
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/feature-tile/index.html" class="nsw-sidenav__link " >
                Feature tile
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/footer/index.html" class="nsw-sidenav__link " >
                Footer
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/forms/index.html" class="nsw-sidenav__link " >
                Forms
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/site-wide-message/index.html" class="nsw-sidenav__link " >
                Global alert
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/header/index.html" class="nsw-sidenav__link " >
                Header
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/hero-banner/index.html" class="nsw-sidenav__link " >
                Hero banner
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/hero-search/index.html" class="nsw-sidenav__link " >
                Hero search
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/in-page-navigation/index.html" class="nsw-sidenav__link " >
                In-page navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/notification/index.html" class="nsw-sidenav__link " >
                In-page notification
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/link-list/index.html" class="nsw-sidenav__link " >
                Link list
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/main-navigation/index.html" class="nsw-sidenav__link " >
                Main navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/pagination/index.html" class="nsw-sidenav__link " >
                Pagination
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/side-navigation/index.html" class="nsw-sidenav__link " >
                Side navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/social-bar/index.html" class="nsw-sidenav__link " >
                Social bar
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tables/index.html" class="nsw-sidenav__link " >
                Tables
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tab-navigation/index.html" class="nsw-sidenav__link " >
                Tabs
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tags/index.html" class="nsw-sidenav__link " >
                Tags
              </a>
            </li>
        </ul>
      </nav>
    </div>
    <div class="nsw-p-none nsw-col-9 nsw-col" style="padding:0;">
      <div class="nsw-docs-content-header nsw-bg--light-10 nsw-p-x-md nsw-p-y-xs">
          <h1>Two column - Sidebar right align</h1>
          <p>Testing description</p>
      </div>
      <div>
        <div class="nsw-tabs js-tabs">
          <div class="nsw-p-left-md nsw-bg--light-10">
            <ul class="nsw-tabs__list">
              <li class="nsw-tabs__list-item">
                <a href="#demosection" class="nsw-tabs__link">Interactive demo</a>
              </li>
              <li class="nsw-tabs__list-item">
                <a href="#codesection" class="nsw-tabs__link">Code</a>
              </li>
            </ul>
          </div>
          <section id="demosection" class="nsw-tabs__content">
            
        <nav class="nsw-skipto nsw-container" aria-label="Skip to links">
          <a class="nsw-skipto__link" href="#main-navigation"><span>Skip to navigation</span></a>
          <a class="nsw-skipto__link" href="#content"><span>Skip to content</span></a>
        </nav>
        <div class="nsw-masthead">
          <div class="nsw-container">
            <p>A NSW Government website</p>
          </div>
        </div>
        <header class="nsw-header">
          <div class="nsw-header__container">
            <div class="nsw-header__wrapper">
              <div class="nsw-header__center">
                <a href="#" class="nsw-header__logo-link">
                  <svg class="nsw-icon nsw-header__logo" focusable="false" aria-hidden="true">
                    <use xlink:href="#dpc-logo"></use>
                  </svg>
                  <span class="sr-only">NSW Department of Premier and Cabinet</span>
                </a>
              </div>
              <div class="nsw-header__left">
                <button type="button" class="nsw-header-btn nsw-header-btn--menu js-open-navigation" aria-expanded="false"
                  aria-controls="main-navigation">
                  <svg class="nsw-icon nsw-header-btn__icon" focusable="false" aria-hidden="true">
                    <use xlink:href="#menu"></use>
                  </svg>
                  <span class="nsw-header-btn__sub"><span class="sr-only">Open</span> Menu</span>
                </button>
              </div>
              <div class="nsw-header__right">
                <button type="button" class="nsw-header-btn nsw-header-btn--search js-open-search" aria-expanded="false"
                  aria-controls="header-search">
                  <svg class="nsw-icon nsw-header-btn__icon" focusable="false" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                  <span class="nsw-header-btn__sub"><span class="sr-only">Show</span> Search</span>
                </button>
              </div>
            </div>
            <div class="nsw-search">
              <div id="header-search" class="nsw-search__area js-search-area" hidden>
                <form role="search">
                  <label for="nsw-search__input" class="sr-only">Search site for:</label>
                  <input autocomplete="off" class="nsw-search__input js-search-input" id="nsw-search__input"
                    name="input-autocomplete" type="text">
                  <button class="nsw-search__submit" type="submit" aria-label="search">
                  <svg class="nsw-icon nsw-search__search-icon" focusable="false" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                  </button>
                </form>
                <button class="nsw-search__close-btn js-close-search" aria-expanded="true" aria-controls="header-search">
                  <svg class="nsw-icon nsw-search__close-icon" focusable="false" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                  <span class="sr-only">Close search</span>
                </button>
              </div>
            </div>
          </div>
        </header>
        <nav id="main-navigation" class="nsw-navigation " aria-label="Main menu">
          <div class="nsw-navigation__header">
            <h2 id="nsw-navigation">Menu</h2>
            <button type="button" class="nsw-navigation__close js-close-navigation" aria-expanded="true">
              <svg class="nsw-icon icon" focusable="false" aria-hidden="true">
                <use xlink:href="#close"></use>
              </svg>
              <span class="sr-only">Close Menu</span>
            </button>
          </div>
          <ul class="nsw-navigation__list">
              <li class="nsw-navigation__list-item">
                <a href="http://google.com" class="nsw-navigation__link">
                  <span class="nsw-navigation__link-text">About DPC</span>
                </a>
              </li>
              <li class="nsw-navigation__list-item">
                <a href="/index.html#updates" class="nsw-navigation__link">
                  <span class="nsw-navigation__link-text">Updates</span>
                </a>
              </li>
              <li class="nsw-navigation__list-item">
                <a href="/index.html#publications" class="nsw-navigation__link">
                  <span class="nsw-navigation__link-text">Publications</span>
                </a>
              </li>
              <li class="nsw-navigation__list-item">
                <a href="/index.html#tools-resources" class="nsw-navigation__link">
                  <span class="nsw-navigation__link-text">Tools &amp; Resources</span>
                </a>
              </li>
              <li class="nsw-navigation__list-item">
                <a href="/index.html#contact-us" class="nsw-navigation__link">
                  <span class="nsw-navigation__link-text">Contact us</span>
                </a>
              </li>
          </ul>
        </nav>
        <div class="nsw-container nsw-p-bottom-xs">
          <nav aria-label="Breadcrumb" class="nsw-breadcrumb">
            <ol class="nsw-breadcrumb__list">
                <li class="nsw-breadcrumb__item">
                  <a href="#" class="nsw-breadcrumb__link " >Home</a>
                </li>
                <li class="nsw-breadcrumb__item">
                  <a href="#" class="nsw-breadcrumb__link " >About DPC</a>
                </li>
                <li class="nsw-breadcrumb__item">
                  <a href="#" class="nsw-breadcrumb__link " >NSW Digital Design System</a>
                </li>
                <li class="nsw-breadcrumb__item">
                  <a href="#" class="nsw-breadcrumb__link nsw-breadcrumb--current" aria-current="page">Content design</a>
                </li>
            </ol>
          </nav>
        </div>
        
        <div class="nsw-container nsw-p-top-sm nsw-p-bottom-lg">
          <div class="nsw-page-layout">  
            <main id="content" class="nsw-page-layout__main">
              <div class="nsw-wysiwyg-content nsw-block">
                <h1>Scaling a design system</h1>
                <p>
                  16 Sep 2020<br>
                  <strong>Design System Team</strong>
                </p>
                <hr>
                <div class="nsw-m-bottom-md">
                  		<a href="#" class="nsw-tag">Digital</a>
                  		<a href="#" class="nsw-tag">Digital Design System</a>
                  		<a href="#" class="nsw-tag">Transformation</a>
                </div>
        
                <p>When we launched the public beta of the NSW Design System in December 2018, we had no idea that what we delivered as a test-and-learn product would become one of the most talked about whole of government projects in NSW. </p>
                <p>Our upcoming plans for scaling the NSW Design System are addressing the following friction points our users are facing when delivering digital products and services.</p>
        
                <ol>
                  <li>Teams with less digital experience within government that are thirsty for knowledge, guidance and a community to help support them delivering digital things.</li>
                  <li>High digital capability teams who wanted to share what they’ve learned, collaborate and contribute back to reduce design and development time and cost as teams build the same components over and over.</li>
                  <li>External service providers delivering products and services for government agencies needing direction and approval on style, brand, templates, patterns and reusable components.</li>
                </ol>
        
                <blockquote>
                  Our upcoming plans for scaling the NSW Design System are addressing the following friction points our users are facing when delivering digital products and services. Watch this space, there’s more to come.
                  <cite>The Design System Team</cite>
                </blockquote>
        
                <p>Our research has shown what is possible in the delivery of digital products and services across whole of government. We’re excited to take these learnings to the next stage of service delivery. Watch this space!</p>
              </div>
        
              <div class="nsw-callout">
                <svg class="nsw-icon nsw-callout__icon" focusable="false" aria-hidden="true">
                  <use xlink:href="#status-info"></use>
                </svg>
                <div class="nsw-callout__content">
                  <h4 class="nsw-callout__title">Keep up-to date</h4>
                  <p>Join our community and register for updates to stay up-to-date with all the latest patterns releases.</p>
                  <a href="#" class="nsw-text-link">Join our community</a>
                </div>
              </div>
        
            </main>
            <div class="nsw-page-layout__sidebar">
              <div class="nsw-link-list">
                <div class="nsw-link-list__title">Related guides</div>
                <ul class="nsw-link-list__list">
                      <li class="nsw-link-list__item" >
                        <a class="nsw-link-list__link" href="#">Building a service guide
                          <svg class="nsw-icon nsw-link-list__icon" focusable="false" aria-hidden="true">
                            <use xlink:href="#arrow"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="nsw-link-list__item" >
                        <a class="nsw-link-list__link" href="#">Digital collaboration tools
                          <svg class="nsw-icon nsw-link-list__icon" focusable="false" aria-hidden="true">
                            <use xlink:href="#arrow"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="nsw-link-list__item" >
                        <a class="nsw-link-list__link" href="#">User experience design methods
                          <svg class="nsw-icon nsw-link-list__icon" focusable="false" aria-hidden="true">
                            <use xlink:href="#arrow"></use>
                          </svg>
                        </a>
                      </li>
                </ul>
              </div>    </div>
          </div>
        </div>
        
        <div class="nsw-section--light-10">
          <div class="nsw-container">
            <div class="nsw-page-layout">
              <div class="nsw-page-layout__main">
                <h3 class="nsw-section-title">Similar blog posts</h3>
                <div class="nsw-grid">
                  <div class="nsw-col nsw-col-md-4">
                    <div class="nsw-card ">
                        <div class="nsw-card__content">
                            <h2 class="nsw-card__title">
                              <a href="#" class="nsw-card__link">Scaling a design system</a>
                            </h2>
                            <p class="nsw-card__tag">Design System Team</p>
                            <p class="nsw-card__date">
                              <time datetime="2020-10-16">16 Oct 2020</time>
                            </p>
                            
                            <svg class="nsw-icon nsw-card__icon" focusable="false" aria-hidden="true">
                              <use xlink:href="#arrow"></use>
                            </svg>
                        </div>
                        <div class="nsw-card__image-area">
                            <img src="https://picsum.photos/id/1076/400/200" alt="" class="nsw-card__image">
                        </div>
                    </div>
                  </div>
                  <div class="nsw-col nsw-col-md-4">
                    <div class="nsw-card ">
                        <div class="nsw-card__content">
                            <h2 class="nsw-card__title">
                              <a href="#" class="nsw-card__link">The NSW Design Standards re-release - a story of iteration</a>
                            </h2>
                            <p class="nsw-card__tag">Design System Team</p>
                            <p class="nsw-card__date">
                              <time datetime="2020-09-14">14 Sep 2020</time>
                            </p>
                            
                            <svg class="nsw-icon nsw-card__icon" focusable="false" aria-hidden="true">
                              <use xlink:href="#arrow"></use>
                            </svg>
                        </div>
                        <div class="nsw-card__image-area">
                            <img src="https://picsum.photos/id/20/400/200" alt="" class="nsw-card__image">
                        </div>
                    </div>
                  </div>
                  <div class="nsw-col nsw-col-md-4">
                    <div class="nsw-card ">
                        <div class="nsw-card__content">
                            <h2 class="nsw-card__title">
                              <a href="#" class="nsw-card__link">Evolving the Standard for Designing Digital Services in NSW</a>
                            </h2>
                            <p class="nsw-card__tag">Design System Team</p>
                            <p class="nsw-card__date">
                              <time datetime="2020-09-02">2 Sep 2020</time>
                            </p>
                            
                            <svg class="nsw-icon nsw-card__icon" focusable="false" aria-hidden="true">
                              <use xlink:href="#arrow"></use>
                            </svg>
                        </div>
                        <div class="nsw-card__image-area">
                            <img src="https://picsum.photos/id/859/400/200" alt="" class="nsw-card__image">
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <footer class="nsw-footer">
          <div class="nsw-footer__upper">
            <div class="nsw-container section-links">
                <div class="section-links__group">
                  <h3 class="section-links__heading"><a href="#">Popular</a></h3>
                  <ul class="section-links__list">
                      <li class="section-links__item"><a href="#">Contact the Premier</a></li>
                      <li class="section-links__item"><a href="#">Contact a Minister</a></li>
                      <li class="section-links__item"><a href="#">About NSW</a></li>
                      <li class="section-links__item"><a href="#">State flag</a></li>
                      <li class="section-links__item"><a href="#">State Funerals</a></li>
                      <li class="section-links__item"><a href="#">Buy Regional</a></li>
                      <li class="section-links__item"><a href="#">Life events</a></li>
                      <li class="section-links__item"><a href="#">NSW Government directory</a></li>
                      <li class="section-links__item"><a href="#">Service NSW locations</a></li>
                  </ul>
                </div>
                <div class="section-links__group">
                  <h3 class="section-links__heading"><a href="#">What&#x27;s happening</a></h3>
                  <ul class="section-links__list">
                      <li class="section-links__item"><a href="#">News</a></li>
                      <li class="section-links__item"><a href="#">Ministerial media releases</a></li>
                      <li class="section-links__item"><a href="#">Projects and initiatives</a></li>
                      <li class="section-links__item"><a href="#">Have your say</a></li>
                      <li class="section-links__item"><a href="#">NSW school and public holidays</a></li>
                      <li class="section-links__item"><a href="#">Find a job in NSW Government</a></li>
                      <li class="section-links__item"><a href="#">I work for NSW</a></li>
                  </ul>
                </div>
                <div class="section-links__group">
                  <h3 class="section-links__heading"><a href="#">Departments</a></h3>
                  <ul class="section-links__list">
                      <li class="section-links__item"><a href="#">Customer Service</a></li>
                      <li class="section-links__item"><a href="#">Communities and Justice</a></li>
                      <li class="section-links__item"><a href="#">Education</a></li>
                      <li class="section-links__item"><a href="#">Health</a></li>
                      <li class="section-links__item"><a href="#">Planning, Industry and Environment</a></li>
                      <li class="section-links__item"><a href="#">Premier and Cabinet</a></li>
                      <li class="section-links__item"><a href="#">Regional NSW</a></li>
                      <li class="section-links__item"><a href="#">Transport</a></li>
                      <li class="section-links__item"><a href="#">Treasury</a></li>
                  </ul>
                </div>
                <div class="section-links__group">
                  <h3 class="section-links__heading"><a href="#">NSW Government</a></h3>
                  <ul class="section-links__list">
                      <li class="section-links__item"><a href="#">The Premier</a></li>
                      <li class="section-links__item"><a href="#">NSW Ministers</a></li>
                      <li class="section-links__item"><a href="#">Find your local Member of Parliament</a></li>
                      <li class="section-links__item"><a href="#">Boards and Committees</a></li>
                      <li class="section-links__item"><a href="#">NSW Government communications</a></li>
                      <li class="section-links__item"><a href="#">Unsolicited proposals</a></li>
                      <li class="section-links__item"><a href="#">Premier&#x27;s Priorities</a></li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="nsw-footer__lower">
            <div class="nsw-container">
              <p>We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
              <hr>
              <ul class="nsw-footer-links">
                  <li class="nsw-footer-links__item">
                    <a href="#" class="nsw-footer-links__link">Accessibility</a>
                  </li>
                  <li class="nsw-footer-links__item">
                    <a href="#" class="nsw-footer-links__link">Copyright</a>
                  </li>
                  <li class="nsw-footer-links__item">
                    <a href="#" class="nsw-footer-links__link">Disclaimer</a>
                  </li>
                  <li class="nsw-footer-links__item">
                    <a href="#" class="nsw-footer-links__link">Privacy</a>
                  </li>
                  <li class="nsw-footer-links__item">
                    <a href="#" class="nsw-footer-links__link">Content sources</a>
                  </li>
                  <li class="nsw-footer-links__item">
                    <a href="#" class="nsw-footer-links__link">RSS</a>
                  </li>
                  <li class="nsw-footer-links__item">
                    <a href="#" class="nsw-footer-links__link">Contact us</a>
                  </li>
              </ul>
              <div class="nsw-footer__info">
                <p class="nsw-footer__copyright">Copyright © 2019</p>
                <p class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></p>
              </div>
            </div>
          </div>
        </footer>
        
          </section>
          <section id="codesection" class="nsw-tabs__content">
            <pre><code class="html">
        &lt;nav class&#x3D;&quot;nsw-skipto nsw-container&quot; aria-label&#x3D;&quot;Skip to links&quot;&gt;
          &lt;a class&#x3D;&quot;nsw-skipto__link&quot; href&#x3D;&quot;#main-navigation&quot;&gt;&lt;span&gt;Skip to navigation&lt;/span&gt;&lt;/a&gt;
          &lt;a class&#x3D;&quot;nsw-skipto__link&quot; href&#x3D;&quot;#content&quot;&gt;&lt;span&gt;Skip to content&lt;/span&gt;&lt;/a&gt;
        &lt;/nav&gt;
        &lt;div class&#x3D;&quot;nsw-masthead&quot;&gt;
          &lt;div class&#x3D;&quot;nsw-container&quot;&gt;
            &lt;p&gt;A NSW Government website&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;header class&#x3D;&quot;nsw-header&quot;&gt;
          &lt;div class&#x3D;&quot;nsw-header__container&quot;&gt;
            &lt;div class&#x3D;&quot;nsw-header__wrapper&quot;&gt;
              &lt;div class&#x3D;&quot;nsw-header__center&quot;&gt;
                &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-header__logo-link&quot;&gt;
                  &lt;svg class&#x3D;&quot;nsw-icon nsw-header__logo&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
                    &lt;use xlink:href&#x3D;&quot;#dpc-logo&quot;&gt;&lt;/use&gt;
                  &lt;/svg&gt;
                  &lt;span class&#x3D;&quot;sr-only&quot;&gt;NSW Department of Premier and Cabinet&lt;/span&gt;
                &lt;/a&gt;
              &lt;/div&gt;
              &lt;div class&#x3D;&quot;nsw-header__left&quot;&gt;
                &lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;nsw-header-btn nsw-header-btn--menu js-open-navigation&quot; aria-expanded&#x3D;&quot;false&quot;
                  aria-controls&#x3D;&quot;main-navigation&quot;&gt;
                  &lt;svg class&#x3D;&quot;nsw-icon nsw-header-btn__icon&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
                    &lt;use xlink:href&#x3D;&quot;#menu&quot;&gt;&lt;/use&gt;
                  &lt;/svg&gt;
                  &lt;span class&#x3D;&quot;nsw-header-btn__sub&quot;&gt;&lt;span class&#x3D;&quot;sr-only&quot;&gt;Open&lt;/span&gt; Menu&lt;/span&gt;
                &lt;/button&gt;
              &lt;/div&gt;
              &lt;div class&#x3D;&quot;nsw-header__right&quot;&gt;
                &lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;nsw-header-btn nsw-header-btn--search js-open-search&quot; aria-expanded&#x3D;&quot;false&quot;
                  aria-controls&#x3D;&quot;header-search&quot;&gt;
                  &lt;svg class&#x3D;&quot;nsw-icon nsw-header-btn__icon&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
                    &lt;use xlink:href&#x3D;&quot;#search&quot;&gt;&lt;/use&gt;
                  &lt;/svg&gt;
                  &lt;span class&#x3D;&quot;nsw-header-btn__sub&quot;&gt;&lt;span class&#x3D;&quot;sr-only&quot;&gt;Show&lt;/span&gt; Search&lt;/span&gt;
                &lt;/button&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class&#x3D;&quot;nsw-search&quot;&gt;
              &lt;div id&#x3D;&quot;header-search&quot; class&#x3D;&quot;nsw-search__area js-search-area&quot; hidden&gt;
                &lt;form role&#x3D;&quot;search&quot;&gt;
                  &lt;label for&#x3D;&quot;nsw-search__input&quot; class&#x3D;&quot;sr-only&quot;&gt;Search site for:&lt;/label&gt;
                  &lt;input autocomplete&#x3D;&quot;off&quot; class&#x3D;&quot;nsw-search__input js-search-input&quot; id&#x3D;&quot;nsw-search__input&quot;
                    name&#x3D;&quot;input-autocomplete&quot; type&#x3D;&quot;text&quot;&gt;
                  &lt;button class&#x3D;&quot;nsw-search__submit&quot; type&#x3D;&quot;submit&quot; aria-label&#x3D;&quot;search&quot;&gt;
                  &lt;svg class&#x3D;&quot;nsw-icon nsw-search__search-icon&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
                    &lt;use xlink:href&#x3D;&quot;#search&quot;&gt;&lt;/use&gt;
                  &lt;/svg&gt;
                  &lt;/button&gt;
                &lt;/form&gt;
                &lt;button class&#x3D;&quot;nsw-search__close-btn js-close-search&quot; aria-expanded&#x3D;&quot;true&quot; aria-controls&#x3D;&quot;header-search&quot;&gt;
                  &lt;svg class&#x3D;&quot;nsw-icon nsw-search__close-icon&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
                    &lt;use xlink:href&#x3D;&quot;#close&quot;&gt;&lt;/use&gt;
                  &lt;/svg&gt;
                  &lt;span class&#x3D;&quot;sr-only&quot;&gt;Close search&lt;/span&gt;
                &lt;/button&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/header&gt;
        &lt;nav id&#x3D;&quot;main-navigation&quot; class&#x3D;&quot;nsw-navigation &quot; aria-label&#x3D;&quot;Main menu&quot;&gt;
          &lt;div class&#x3D;&quot;nsw-navigation__header&quot;&gt;
            &lt;h2 id&#x3D;&quot;nsw-navigation&quot;&gt;Menu&lt;/h2&gt;
            &lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;nsw-navigation__close js-close-navigation&quot; aria-expanded&#x3D;&quot;true&quot;&gt;
              &lt;svg class&#x3D;&quot;nsw-icon icon&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
                &lt;use xlink:href&#x3D;&quot;#close&quot;&gt;&lt;/use&gt;
              &lt;/svg&gt;
              &lt;span class&#x3D;&quot;sr-only&quot;&gt;Close Menu&lt;/span&gt;
            &lt;/button&gt;
          &lt;/div&gt;
          &lt;ul class&#x3D;&quot;nsw-navigation__list&quot;&gt;
              &lt;li class&#x3D;&quot;nsw-navigation__list-item&quot;&gt;
                &lt;a href&#x3D;&quot;http://google.com&quot; class&#x3D;&quot;nsw-navigation__link&quot;&gt;
                  &lt;span class&#x3D;&quot;nsw-navigation__link-text&quot;&gt;About DPC&lt;/span&gt;
                &lt;/a&gt;
              &lt;/li&gt;
              &lt;li class&#x3D;&quot;nsw-navigation__list-item&quot;&gt;
                &lt;a href&#x3D;&quot;/index.html#updates&quot; class&#x3D;&quot;nsw-navigation__link&quot;&gt;
                  &lt;span class&#x3D;&quot;nsw-navigation__link-text&quot;&gt;Updates&lt;/span&gt;
                &lt;/a&gt;
              &lt;/li&gt;
              &lt;li class&#x3D;&quot;nsw-navigation__list-item&quot;&gt;
                &lt;a href&#x3D;&quot;/index.html#publications&quot; class&#x3D;&quot;nsw-navigation__link&quot;&gt;
                  &lt;span class&#x3D;&quot;nsw-navigation__link-text&quot;&gt;Publications&lt;/span&gt;
                &lt;/a&gt;
              &lt;/li&gt;
              &lt;li class&#x3D;&quot;nsw-navigation__list-item&quot;&gt;
                &lt;a href&#x3D;&quot;/index.html#tools-resources&quot; class&#x3D;&quot;nsw-navigation__link&quot;&gt;
                  &lt;span class&#x3D;&quot;nsw-navigation__link-text&quot;&gt;Tools &amp;amp; Resources&lt;/span&gt;
                &lt;/a&gt;
              &lt;/li&gt;
              &lt;li class&#x3D;&quot;nsw-navigation__list-item&quot;&gt;
                &lt;a href&#x3D;&quot;/index.html#contact-us&quot; class&#x3D;&quot;nsw-navigation__link&quot;&gt;
                  &lt;span class&#x3D;&quot;nsw-navigation__link-text&quot;&gt;Contact us&lt;/span&gt;
                &lt;/a&gt;
              &lt;/li&gt;
          &lt;/ul&gt;
        &lt;/nav&gt;
        &lt;div class&#x3D;&quot;nsw-container nsw-p-bottom-xs&quot;&gt;
          &lt;nav aria-label&#x3D;&quot;Breadcrumb&quot; class&#x3D;&quot;nsw-breadcrumb&quot;&gt;
            &lt;ol class&#x3D;&quot;nsw-breadcrumb__list&quot;&gt;
                &lt;li class&#x3D;&quot;nsw-breadcrumb__item&quot;&gt;
                  &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-breadcrumb__link &quot; &gt;Home&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class&#x3D;&quot;nsw-breadcrumb__item&quot;&gt;
                  &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-breadcrumb__link &quot; &gt;About DPC&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class&#x3D;&quot;nsw-breadcrumb__item&quot;&gt;
                  &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-breadcrumb__link &quot; &gt;NSW Digital Design System&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class&#x3D;&quot;nsw-breadcrumb__item&quot;&gt;
                  &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-breadcrumb__link nsw-breadcrumb--current&quot; aria-current&#x3D;&quot;page&quot;&gt;Content design&lt;/a&gt;
                &lt;/li&gt;
            &lt;/ol&gt;
          &lt;/nav&gt;
        &lt;/div&gt;
        
        &lt;div class&#x3D;&quot;nsw-container nsw-p-top-sm nsw-p-bottom-lg&quot;&gt;
          &lt;div class&#x3D;&quot;nsw-page-layout&quot;&gt;  
            &lt;main id&#x3D;&quot;content&quot; class&#x3D;&quot;nsw-page-layout__main&quot;&gt;
              &lt;div class&#x3D;&quot;nsw-wysiwyg-content nsw-block&quot;&gt;
                &lt;h1&gt;Scaling a design system&lt;/h1&gt;
                &lt;p&gt;
                  16 Sep 2020&lt;br&gt;
                  &lt;strong&gt;Design System Team&lt;/strong&gt;
                &lt;/p&gt;
                &lt;hr&gt;
                &lt;div class&#x3D;&quot;nsw-m-bottom-md&quot;&gt;
                  		&lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-tag&quot;&gt;Digital&lt;/a&gt;
                  		&lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-tag&quot;&gt;Digital Design System&lt;/a&gt;
                  		&lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-tag&quot;&gt;Transformation&lt;/a&gt;
                &lt;/div&gt;
        
                &lt;p&gt;When we launched the public beta of the NSW Design System in December 2018, we had no idea that what we delivered as a test-and-learn product would become one of the most talked about whole of government projects in NSW. &lt;/p&gt;
                &lt;p&gt;Our upcoming plans for scaling the NSW Design System are addressing the following friction points our users are facing when delivering digital products and services.&lt;/p&gt;
        
                &lt;ol&gt;
                  &lt;li&gt;Teams with less digital experience within government that are thirsty for knowledge, guidance and a community to help support them delivering digital things.&lt;/li&gt;
                  &lt;li&gt;High digital capability teams who wanted to share what they’ve learned, collaborate and contribute back to reduce design and development time and cost as teams build the same components over and over.&lt;/li&gt;
                  &lt;li&gt;External service providers delivering products and services for government agencies needing direction and approval on style, brand, templates, patterns and reusable components.&lt;/li&gt;
                &lt;/ol&gt;
        
                &lt;blockquote&gt;
                  Our upcoming plans for scaling the NSW Design System are addressing the following friction points our users are facing when delivering digital products and services. Watch this space, there’s more to come.
                  &lt;cite&gt;The Design System Team&lt;/cite&gt;
                &lt;/blockquote&gt;
        
                &lt;p&gt;Our research has shown what is possible in the delivery of digital products and services across whole of government. We’re excited to take these learnings to the next stage of service delivery. Watch this space!&lt;/p&gt;
              &lt;/div&gt;
        
              &lt;div class&#x3D;&quot;nsw-callout&quot;&gt;
                &lt;svg class&#x3D;&quot;nsw-icon nsw-callout__icon&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
                  &lt;use xlink:href&#x3D;&quot;#status-info&quot;&gt;&lt;/use&gt;
                &lt;/svg&gt;
                &lt;div class&#x3D;&quot;nsw-callout__content&quot;&gt;
                  &lt;h4 class&#x3D;&quot;nsw-callout__title&quot;&gt;Keep up-to date&lt;/h4&gt;
                  &lt;p&gt;Join our community and register for updates to stay up-to-date with all the latest patterns releases.&lt;/p&gt;
                  &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-text-link&quot;&gt;Join our community&lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
        
            &lt;/main&gt;
            &lt;div class&#x3D;&quot;nsw-page-layout__sidebar&quot;&gt;
              &lt;div class&#x3D;&quot;nsw-link-list&quot;&gt;
                &lt;div class&#x3D;&quot;nsw-link-list__title&quot;&gt;Related guides&lt;/div&gt;
                &lt;ul class&#x3D;&quot;nsw-link-list__list&quot;&gt;
                      &lt;li class&#x3D;&quot;nsw-link-list__item&quot; &gt;
                        &lt;a class&#x3D;&quot;nsw-link-list__link&quot; href&#x3D;&quot;#&quot;&gt;Building a service guide
                          &lt;svg class&#x3D;&quot;nsw-icon nsw-link-list__icon&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
                            &lt;use xlink:href&#x3D;&quot;#arrow&quot;&gt;&lt;/use&gt;
                          &lt;/svg&gt;
                        &lt;/a&gt;
                      &lt;/li&gt;
                      &lt;li class&#x3D;&quot;nsw-link-list__item&quot; &gt;
                        &lt;a class&#x3D;&quot;nsw-link-list__link&quot; href&#x3D;&quot;#&quot;&gt;Digital collaboration tools
                          &lt;svg class&#x3D;&quot;nsw-icon nsw-link-list__icon&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
                            &lt;use xlink:href&#x3D;&quot;#arrow&quot;&gt;&lt;/use&gt;
                          &lt;/svg&gt;
                        &lt;/a&gt;
                      &lt;/li&gt;
                      &lt;li class&#x3D;&quot;nsw-link-list__item&quot; &gt;
                        &lt;a class&#x3D;&quot;nsw-link-list__link&quot; href&#x3D;&quot;#&quot;&gt;User experience design methods
                          &lt;svg class&#x3D;&quot;nsw-icon nsw-link-list__icon&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
                            &lt;use xlink:href&#x3D;&quot;#arrow&quot;&gt;&lt;/use&gt;
                          &lt;/svg&gt;
                        &lt;/a&gt;
                      &lt;/li&gt;
                &lt;/ul&gt;
              &lt;/div&gt;    &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        
        &lt;div class&#x3D;&quot;nsw-section--light-10&quot;&gt;
          &lt;div class&#x3D;&quot;nsw-container&quot;&gt;
            &lt;div class&#x3D;&quot;nsw-page-layout&quot;&gt;
              &lt;div class&#x3D;&quot;nsw-page-layout__main&quot;&gt;
                &lt;h3 class&#x3D;&quot;nsw-section-title&quot;&gt;Similar blog posts&lt;/h3&gt;
                &lt;div class&#x3D;&quot;nsw-grid&quot;&gt;
                  &lt;div class&#x3D;&quot;nsw-col nsw-col-md-4&quot;&gt;
                    &lt;div class&#x3D;&quot;nsw-card &quot;&gt;
                        &lt;div class&#x3D;&quot;nsw-card__content&quot;&gt;
                            &lt;h2 class&#x3D;&quot;nsw-card__title&quot;&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-card__link&quot;&gt;Scaling a design system&lt;/a&gt;
                            &lt;/h2&gt;
                            &lt;p class&#x3D;&quot;nsw-card__tag&quot;&gt;Design System Team&lt;/p&gt;
                            &lt;p class&#x3D;&quot;nsw-card__date&quot;&gt;
                              &lt;time datetime&#x3D;&quot;2020-10-16&quot;&gt;16 Oct 2020&lt;/time&gt;
                            &lt;/p&gt;
                            
                            &lt;svg class&#x3D;&quot;nsw-icon nsw-card__icon&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
                              &lt;use xlink:href&#x3D;&quot;#arrow&quot;&gt;&lt;/use&gt;
                            &lt;/svg&gt;
                        &lt;/div&gt;
                        &lt;div class&#x3D;&quot;nsw-card__image-area&quot;&gt;
                            &lt;img src&#x3D;&quot;https://picsum.photos/id/1076/400/200&quot; alt&#x3D;&quot;&quot; class&#x3D;&quot;nsw-card__image&quot;&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class&#x3D;&quot;nsw-col nsw-col-md-4&quot;&gt;
                    &lt;div class&#x3D;&quot;nsw-card &quot;&gt;
                        &lt;div class&#x3D;&quot;nsw-card__content&quot;&gt;
                            &lt;h2 class&#x3D;&quot;nsw-card__title&quot;&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-card__link&quot;&gt;The NSW Design Standards re-release - a story of iteration&lt;/a&gt;
                            &lt;/h2&gt;
                            &lt;p class&#x3D;&quot;nsw-card__tag&quot;&gt;Design System Team&lt;/p&gt;
                            &lt;p class&#x3D;&quot;nsw-card__date&quot;&gt;
                              &lt;time datetime&#x3D;&quot;2020-09-14&quot;&gt;14 Sep 2020&lt;/time&gt;
                            &lt;/p&gt;
                            
                            &lt;svg class&#x3D;&quot;nsw-icon nsw-card__icon&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
                              &lt;use xlink:href&#x3D;&quot;#arrow&quot;&gt;&lt;/use&gt;
                            &lt;/svg&gt;
                        &lt;/div&gt;
                        &lt;div class&#x3D;&quot;nsw-card__image-area&quot;&gt;
                            &lt;img src&#x3D;&quot;https://picsum.photos/id/20/400/200&quot; alt&#x3D;&quot;&quot; class&#x3D;&quot;nsw-card__image&quot;&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class&#x3D;&quot;nsw-col nsw-col-md-4&quot;&gt;
                    &lt;div class&#x3D;&quot;nsw-card &quot;&gt;
                        &lt;div class&#x3D;&quot;nsw-card__content&quot;&gt;
                            &lt;h2 class&#x3D;&quot;nsw-card__title&quot;&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-card__link&quot;&gt;Evolving the Standard for Designing Digital Services in NSW&lt;/a&gt;
                            &lt;/h2&gt;
                            &lt;p class&#x3D;&quot;nsw-card__tag&quot;&gt;Design System Team&lt;/p&gt;
                            &lt;p class&#x3D;&quot;nsw-card__date&quot;&gt;
                              &lt;time datetime&#x3D;&quot;2020-09-02&quot;&gt;2 Sep 2020&lt;/time&gt;
                            &lt;/p&gt;
                            
                            &lt;svg class&#x3D;&quot;nsw-icon nsw-card__icon&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
                              &lt;use xlink:href&#x3D;&quot;#arrow&quot;&gt;&lt;/use&gt;
                            &lt;/svg&gt;
                        &lt;/div&gt;
                        &lt;div class&#x3D;&quot;nsw-card__image-area&quot;&gt;
                            &lt;img src&#x3D;&quot;https://picsum.photos/id/859/400/200&quot; alt&#x3D;&quot;&quot; class&#x3D;&quot;nsw-card__image&quot;&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        
        &lt;footer class&#x3D;&quot;nsw-footer&quot;&gt;
          &lt;div class&#x3D;&quot;nsw-footer__upper&quot;&gt;
            &lt;div class&#x3D;&quot;nsw-container section-links&quot;&gt;
                &lt;div class&#x3D;&quot;section-links__group&quot;&gt;
                  &lt;h3 class&#x3D;&quot;section-links__heading&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Popular&lt;/a&gt;&lt;/h3&gt;
                  &lt;ul class&#x3D;&quot;section-links__list&quot;&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Contact the Premier&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Contact a Minister&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;About NSW&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;State flag&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;State Funerals&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Buy Regional&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Life events&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;NSW Government directory&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Service NSW locations&lt;/a&gt;&lt;/li&gt;
                  &lt;/ul&gt;
                &lt;/div&gt;
                &lt;div class&#x3D;&quot;section-links__group&quot;&gt;
                  &lt;h3 class&#x3D;&quot;section-links__heading&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;What&amp;#x27;s happening&lt;/a&gt;&lt;/h3&gt;
                  &lt;ul class&#x3D;&quot;section-links__list&quot;&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;News&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Ministerial media releases&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Projects and initiatives&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Have your say&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;NSW school and public holidays&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Find a job in NSW Government&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;I work for NSW&lt;/a&gt;&lt;/li&gt;
                  &lt;/ul&gt;
                &lt;/div&gt;
                &lt;div class&#x3D;&quot;section-links__group&quot;&gt;
                  &lt;h3 class&#x3D;&quot;section-links__heading&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Departments&lt;/a&gt;&lt;/h3&gt;
                  &lt;ul class&#x3D;&quot;section-links__list&quot;&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Customer Service&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Communities and Justice&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Education&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Health&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Planning, Industry and Environment&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Premier and Cabinet&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Regional NSW&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Transport&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Treasury&lt;/a&gt;&lt;/li&gt;
                  &lt;/ul&gt;
                &lt;/div&gt;
                &lt;div class&#x3D;&quot;section-links__group&quot;&gt;
                  &lt;h3 class&#x3D;&quot;section-links__heading&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;NSW Government&lt;/a&gt;&lt;/h3&gt;
                  &lt;ul class&#x3D;&quot;section-links__list&quot;&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;The Premier&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;NSW Ministers&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Find your local Member of Parliament&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Boards and Committees&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;NSW Government communications&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Unsolicited proposals&lt;/a&gt;&lt;/li&gt;
                      &lt;li class&#x3D;&quot;section-links__item&quot;&gt;&lt;a href&#x3D;&quot;#&quot;&gt;Premier&amp;#x27;s Priorities&lt;/a&gt;&lt;/li&gt;
                  &lt;/ul&gt;
                &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class&#x3D;&quot;nsw-footer__lower&quot;&gt;
            &lt;div class&#x3D;&quot;nsw-container&quot;&gt;
              &lt;p&gt;We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.&lt;/p&gt;
              &lt;hr&gt;
              &lt;ul class&#x3D;&quot;nsw-footer-links&quot;&gt;
                  &lt;li class&#x3D;&quot;nsw-footer-links__item&quot;&gt;
                    &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-footer-links__link&quot;&gt;Accessibility&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class&#x3D;&quot;nsw-footer-links__item&quot;&gt;
                    &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-footer-links__link&quot;&gt;Copyright&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class&#x3D;&quot;nsw-footer-links__item&quot;&gt;
                    &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-footer-links__link&quot;&gt;Disclaimer&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class&#x3D;&quot;nsw-footer-links__item&quot;&gt;
                    &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-footer-links__link&quot;&gt;Privacy&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class&#x3D;&quot;nsw-footer-links__item&quot;&gt;
                    &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-footer-links__link&quot;&gt;Content sources&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class&#x3D;&quot;nsw-footer-links__item&quot;&gt;
                    &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-footer-links__link&quot;&gt;RSS&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class&#x3D;&quot;nsw-footer-links__item&quot;&gt;
                    &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-footer-links__link&quot;&gt;Contact us&lt;/a&gt;
                  &lt;/li&gt;
              &lt;/ul&gt;
              &lt;div class&#x3D;&quot;nsw-footer__info&quot;&gt;
                &lt;p class&#x3D;&quot;nsw-footer__copyright&quot;&gt;Copyright © 2019&lt;/p&gt;
                &lt;p class&#x3D;&quot;nsw-footer__built&quot;&gt;Built by &lt;a href&#x3D;&quot;https://www.digital.nsw.gov.au/digital-design-system&quot; target&#x3D;&quot;_blank&quot; rel&#x3D;&quot;noopener noreferrer&quot;&gt;NSW Design System&lt;/a&gt;&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/footer&gt;
        </code></pre>
          </section>
        </div>
      </div>
    </div>
  </div>
  <script src="../../js/main.js"></script>
  <script>
    window.NSW.initSite()
    hljs.initHighlightingOnLoad();
</script>
</body>
</html>
