<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Two column - Side navigation left align (nav hides on mobile)</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" href="../../css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <script>
    // SVG Sprite Loader
    var svgAjax = new XMLHttpRequest();
    svgAjax.open("GET", "../../assets/svg/sprite.svg", true);
    svgAjax.send();
    svgAjax.onload = function(e) {
      var fragment = document.createRange().createContextualFragment(svgAjax.responseText);
      var svg = fragment.querySelector('svg')
      svg.setAttribute('aria-hidden', true);
      svg.style.cssText = 'position: absolute; width: 0; height: 0; overflow: hidden;'
      document.body.insertBefore(fragment, document.body.childNodes[0]);
    };
    // Replace 'no-js' with 'js' on the html tag
    (function(e){e.className=e.className.replace(/\bno-js\b/,'js')})(document.documentElement);
  </script>
</head>

<body >
  
<nav class="nsw-skipto nsw-container" aria-label="Skip to links">
  <a class="nsw-skipto__link" href="#main-navigation"><span>Skip to navigation</span></a>
  <a class="nsw-skipto__link" href="#content"><span>Skip to content</span></a>
</nav>
<div class="nsw-masthead">
  <div class="nsw-container">
    <p>A NSW Government website</p>
  </div>
</div>
<header class="nsw-header">
  <div class="nsw-header__container">
    <div class="nsw-header__wrapper">
      <div class="nsw-header__center">
        <a href="#" class="nsw-header__logo-link">
          <svg class="nsw-icon nsw-header__logo" focusable="false" aria-hidden="true">
            <use xlink:href="#dpc-logo"></use>
          </svg>
          <span class="sr-only">NSW Department of Premier and Cabinet</span>
        </a>
      </div>
      <div class="nsw-header__left">
        <button type="button" class="nsw-header-btn nsw-header-btn--menu js-open-navigation" aria-expanded="false"
          aria-controls="main-navigation">
          <svg class="nsw-icon nsw-header-btn__icon" focusable="false" aria-hidden="true">
            <use xlink:href="#menu"></use>
          </svg>
          <span class="nsw-header-btn__sub"><span class="sr-only">Open</span> Menu</span>
        </button>
      </div>
      <div class="nsw-header__right">
        <button type="button" class="nsw-header-btn nsw-header-btn--search js-open-search" aria-expanded="false"
          aria-controls="header-search">
          <svg class="nsw-icon nsw-header-btn__icon" focusable="false" aria-hidden="true">
            <use xlink:href="#search"></use>
          </svg>
          <span class="nsw-header-btn__sub"><span class="sr-only">Show</span> Search</span>
        </button>
      </div>
    </div>
    <div class="nsw-search">
      <div id="header-search" class="nsw-search__area js-search-area" hidden>
        <form role="search">
          <label for="nsw-search__input" class="sr-only">Search site for:</label>
          <input autocomplete="off" class="nsw-search__input js-search-input" id="nsw-search__input"
            name="input-autocomplete" type="text">
          <button class="nsw-search__submit" type="submit" aria-label="search">
          <svg class="nsw-icon nsw-search__search-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#search"></use>
          </svg>
          </button>
        </form>
        <button class="nsw-search__close-btn js-close-search" aria-expanded="true" aria-controls="header-search">
          <svg class="nsw-icon nsw-search__close-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#close"></use>
          </svg>
          <span class="sr-only">Close search</span>
        </button>
      </div>
    </div>
  </div>
</header>
<nav id="main-navigation" class="nsw-navigation " aria-label="Main menu">
  <div class="nsw-navigation__header">
    <h2 id="nsw-navigation">Menu</h2>
    <button type="button" class="nsw-navigation__close js-close-navigation" aria-expanded="true">
      <svg class="nsw-icon icon" focusable="false" aria-hidden="true">
        <use xlink:href="#close"></use>
      </svg>
      <span class="sr-only">Close Menu</span>
    </button>
  </div>
  <ul class="nsw-navigation__list">
      <li class="nsw-navigation__list-item">
        <a href="http://google.com" class="nsw-navigation__link">
          <span class="nsw-navigation__link-text">About DPC</span>
        </a>
      </li>
      <li class="nsw-navigation__list-item">
        <a href="/index.html#updates" class="nsw-navigation__link">
          <span class="nsw-navigation__link-text">Updates</span>
        </a>
      </li>
      <li class="nsw-navigation__list-item">
        <a href="/index.html#publications" class="nsw-navigation__link">
          <span class="nsw-navigation__link-text">Publications</span>
        </a>
      </li>
      <li class="nsw-navigation__list-item">
        <a href="/index.html#tools-resources" class="nsw-navigation__link">
          <span class="nsw-navigation__link-text">Tools &amp; Resources</span>
        </a>
      </li>
      <li class="nsw-navigation__list-item">
        <a href="/index.html#contact-us" class="nsw-navigation__link">
          <span class="nsw-navigation__link-text">Contact us</span>
        </a>
      </li>
  </ul>
</nav>
<div class="nsw-container nsw-p-bottom-xs">
  <nav aria-label="Breadcrumb" class="nsw-breadcrumb">
    <ol class="nsw-breadcrumb__list">
        <li class="nsw-breadcrumb__item">
          <a href="#" class="nsw-breadcrumb__link " >Home</a>
        </li>
        <li class="nsw-breadcrumb__item">
          <a href="#" class="nsw-breadcrumb__link " >About DPC</a>
        </li>
        <li class="nsw-breadcrumb__item">
          <a href="#" class="nsw-breadcrumb__link " >NSW Digital Design System</a>
        </li>
        <li class="nsw-breadcrumb__item">
          <a href="#" class="nsw-breadcrumb__link nsw-breadcrumb--current" aria-current="page">Content design</a>
        </li>
    </ol>
  </nav>
</div>

<div class="nsw-container nsw-p-top-sm nsw-p-bottom-lg">
  <div class="nsw-page-layout">
    <div class="nsw-page-layout__sidebar nsw-page-layout__sidebar--desktop">
      <nav class="nsw-sidenav" aria-labelledby="sksm7sss26ns side navigation">
        <div class="nsw-sidenav__header">
          <h2 id="sksm7sss26ns" class="nsw-sidenav__heading">
            <a href="#" class="nsw-sidenav__heading-link">About DPC</a></h2>
        </div>
        <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
            <li class="nsw-sidenav__list-item ">
              <a href="#" class="nsw-sidenav__link " >
                About the Department
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="#" class="nsw-sidenav__link " >
                Careers
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="#" class="nsw-sidenav__link " >
                Accessing DPC information
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="#" class="nsw-sidenav__link " >
                Premier and Cabinet cluster
              </a>
            </li>
            <li class="nsw-sidenav__list-item has-active-children">
              <a href="#" class="nsw-sidenav__link " >
                NSW Digital Design System
              </a>
              <ul class="nsw-sidenav__list nsw-sidenav__list--level-2">
                  <li class="nsw-sidenav__list-item ">
                    <a href="#" class="nsw-sidenav__link " >
                      Building a service
                    </a>
                  </li>
                  <li class="nsw-sidenav__list-item ">
                    <a href="#" class="nsw-sidenav__link is-current" aria-current="page">
                      Content design
                    </a>
                  </li>
                  <li class="nsw-sidenav__list-item ">
                    <a href="#" class="nsw-sidenav__link " >
                      Using artefacts
                    </a>
                  </li>
                  <li class="nsw-sidenav__list-item ">
                    <a href="#" class="nsw-sidenav__link " >
                      Experimenting
                    </a>
                  </li>
              </ul>
            </li>
        </ul>
      </nav>
    </div>
    <main id="content" class="nsw-page-layout__main">
      <div class="nsw-wysiwyg-content nsw-block">
        <h1>Content design</h1>
        <p class="nsw-intro">Content designers create patterns of content to guide the user and help them achieve their goal.</p>
      </div>

      <nav class="nsw-page-nav" aria-labelledby="in-page-nav">
        <h2 id="in-page-nav" class="nsw-page-nav__title">On this page</h2>
        <ul class="nsw-page-nav__list">
            <li class="nsw-page-nav__list-item">
              <a href="#" class="nsw-page-nav__link">Ways of working</a>
            </li>
            <li class="nsw-page-nav__list-item">
              <a href="#" class="nsw-page-nav__link">Core skills</a>
            </li>
            <li class="nsw-page-nav__list-item">
              <a href="#" class="nsw-page-nav__link">Content design for transactions</a>
            </li>
        </ul>
      </nav>

      <div class="nsw-wysiwyg-content nsw-block">
        <h2 id="ways-of-working">Ways of working</h2>
        <p>Content design is not copy writing. It may not even be about writing a lot of words. It’s a way of working that starts with the problem you need to resolve for users.</p>

        <h3>Building relationships</h3>
        <p>Work with others to understand the problem you need to address on behalf of the user. Other people in your team may already be doing that.</p>
        <p>A content person comes in many guises and you may not be a part of the <a href="#">multidisciplinary product team</a>. While you're gathering evidence about the user, try to build relationships across that product team.</p>
      </div>

      <div class="nsw-accordion js-accordion">
        <h2 class="nsw-accordion__title">Sprint cadence or workflow</h2>
        <div class="nsw-accordion__content">
        	<div class="nsw-wysiwyg-content">
          	<p>In your team there may already be a sprint cadence that includes content design. Become familiar with agile practices such as the Kanban wall, daily stand ups and sprint planning. Understand the user journey and their needs. Get involved in usability testing sessions and iteration.</p><p>Otherwise, the content workflow may be separate from the product team. At the very least, make sure the team has real content to use, when they’re building a prototype. Also ensure your team uses real content when it does usability testing. Attend playbacks from this testing, to know how your content needs to change.</p><p>As well as designing the user experience with product team members, a content designer works to know the facts with subject matter experts.</p>
          </div>
        </div>
        <h2 class="nsw-accordion__title">Simplifying complexity</h2>
        <div class="nsw-accordion__content">
        	<div class="nsw-wysiwyg-content">
          	<p>Your aim from the outset is to simplify everything for the user. Your main task will be to set up a clear path for them to achieve their goal. </p><p>Start with a user story. You should create one for each piece of content, from user research. If you’re part of a multidisciplinary product team, everyone is likely to be using them as you design and build.</p><p>A user story will help you to pinpoint the user need from the outset. It puts the user front-of-mind and gives you a focus when designing and writing the content.</p><p>Next, create a structure for your page, based on the user story. Write up meaningful H2 headers to serve as signposts to help the user do what they need to do.</p>
          </div>
        </div>
        <h2 class="nsw-accordion__title">Working with subject matter experts</h2>
        <div class="nsw-accordion__content">
        	<div class="nsw-wysiwyg-content">
          	<p>Share your way of working with your subject matter experts – in person if possible. </p><p>They're a great way of introducing your approach to a subject matter expert, which may be completely foreign to them. It will show them how you're focusing on the user, and what you're trying to solve. Ask them for feedback. Find out if there’s anything missing and if you’re on the right track.</p>
          </div>
        </div>
      </div>

      <div class="nsw-wysiwyg-content nsw-block">
        <h2 id="core-skills">Core skills</h2>
        <p>You may have come to content design from a variety of backgrounds – such as communications, marketing, web editing, copywriting, technical writing, journalism.</p>

        <h3>Plain language</h3>
        <p>Content designers need to know the basics of <a href="#">good readability</a>. They’re aware how readers scan content. There’s a skill involved in improving content for ease of use. They will know how to create signposts for users, mix up the length of sentences and use active language. They work hard to make the meaning succinct and clear.</p>
      </div>

      <div class="nsw-callout">
        <svg class="nsw-icon nsw-callout__icon" focusable="false" aria-hidden="true">
          <use xlink:href="#status-info"></use>
        </svg>
        <div class="nsw-callout__content">
          <h4 class="nsw-callout__title">Plain language tool</h4>
          <p>Learn more about writing clear, concise, organised, and appropriate content for your intended audience using <a href='#'>plain language tools</a>.</p>
          
        </div>
      </div>

      <div class="nsw-wysiwyg-content nsw-block">
        <h2 id="content-design-for-transactions">Content design for transactions</h2>
        <p>As a content designer, your task is to get the user from A to B in the transaction. </p>
        <p>When designing content for transactions:  </p>
        <ul>
          <li>minimise the user’s chance of error  </li>
          <li>maximise collaborative teamwork </li>
          <li>balance business and user needs.  </li>
        </ul>
        <p>In this guide we’ve used Service NSW examples. </p>
      </div>

      <div class="nsw-tabs js-tabs">
        <ul class="nsw-tabs__list">
          <li class="nsw-tabs__list-item">
            <a href="#section1" class="nsw-tabs__link">Explain transaction</a>
          </li>
          <li class="nsw-tabs__list-item">
            <a href="#section2" class="nsw-tabs__link">Map transaction</a>
          </li>
          <li class="nsw-tabs__list-item">
            <a href="#section3" class="nsw-tabs__link">Signpost steps</a>
          </li>
        </ul>
        <section id="section1" class="nsw-tabs__content">
          <div class='nsw-wysiwyg-content'><h3>Explain transaction</h3><p>The landing page explains the entire transaction to a user. It serves as the front door.</p></p>By having a clear guide at the start, users know where they can return to for more information, or to start again.</p></div>
        </section>
        <section id="section2" class="nsw-tabs__content">
          <div class='nsw-wysiwyg-content'><h3>Map transaction</h3><p>The start of the transaction gives the user a map – the steps to take, and what to expect afterwards. The purpose of the landing page is to give the user context. It will display on the agency site that leads to the transaction.</p><p>The user arrives at this page when they’re looking to do a transaction. They’re likely to arrive via a Google search or email link. A user should be able to find what they need to know about the transaction, and how to complete it.  </p></div>
        </section>
        <section id="section3" class="nsw-tabs__content">
          <div class='nsw-wysiwyg-content'><h3>Signpost steps</h3><p>The purpose of signposting the steps is to reduce the user’s chance of error. This helps the user move through the transaction with ease. The user can scan what they need to do so they can complete their task.  </p></div>
        </section>
      </div>

      <div class="nsw-link-list">
        <div class="nsw-link-list__title">Related guides</div>
        <ul class="nsw-link-list__list">
              <li class="nsw-link-list__item" >
                <a class="nsw-link-list__link" href="#">User-focused content design process
                  <svg class="nsw-icon nsw-link-list__icon" focusable="false" aria-hidden="true">
                    <use xlink:href="#arrow"></use>
                  </svg>
                </a>
              </li>
              <li class="nsw-link-list__item" >
                <a class="nsw-link-list__link" href="#">Digital collaboration tools
                  <svg class="nsw-icon nsw-link-list__icon" focusable="false" aria-hidden="true">
                    <use xlink:href="#arrow"></use>
                  </svg>
                </a>
              </li>
              <li class="nsw-link-list__item" >
                <a class="nsw-link-list__link" href="#">Testing and improving guides
                  <svg class="nsw-icon nsw-link-list__icon" focusable="false" aria-hidden="true">
                    <use xlink:href="#arrow"></use>
                  </svg>
                </a>
              </li>
        </ul>
      </div>    </main>
  </div>
</div>

<footer class="nsw-footer">
  <div class="nsw-footer__upper">
    <div class="nsw-container section-links">
        <div class="section-links__group">
          <h3 class="section-links__heading"><a href="#">Popular</a></h3>
          <ul class="section-links__list">
              <li class="section-links__item"><a href="#">Contact the Premier</a></li>
              <li class="section-links__item"><a href="#">Contact a Minister</a></li>
              <li class="section-links__item"><a href="#">About NSW</a></li>
              <li class="section-links__item"><a href="#">State flag</a></li>
              <li class="section-links__item"><a href="#">State Funerals</a></li>
              <li class="section-links__item"><a href="#">Buy Regional</a></li>
              <li class="section-links__item"><a href="#">Life events</a></li>
              <li class="section-links__item"><a href="#">NSW Government directory</a></li>
              <li class="section-links__item"><a href="#">Service NSW locations</a></li>
          </ul>
        </div>
        <div class="section-links__group">
          <h3 class="section-links__heading"><a href="#">What&#x27;s happening</a></h3>
          <ul class="section-links__list">
              <li class="section-links__item"><a href="#">News</a></li>
              <li class="section-links__item"><a href="#">Ministerial media releases</a></li>
              <li class="section-links__item"><a href="#">Projects and initiatives</a></li>
              <li class="section-links__item"><a href="#">Have your say</a></li>
              <li class="section-links__item"><a href="#">NSW school and public holidays</a></li>
              <li class="section-links__item"><a href="#">Find a job in NSW Government</a></li>
              <li class="section-links__item"><a href="#">I work for NSW</a></li>
          </ul>
        </div>
        <div class="section-links__group">
          <h3 class="section-links__heading"><a href="#">Departments</a></h3>
          <ul class="section-links__list">
              <li class="section-links__item"><a href="#">Customer Service</a></li>
              <li class="section-links__item"><a href="#">Communities and Justice</a></li>
              <li class="section-links__item"><a href="#">Education</a></li>
              <li class="section-links__item"><a href="#">Health</a></li>
              <li class="section-links__item"><a href="#">Planning, Industry and Environment</a></li>
              <li class="section-links__item"><a href="#">Premier and Cabinet</a></li>
              <li class="section-links__item"><a href="#">Regional NSW</a></li>
              <li class="section-links__item"><a href="#">Transport</a></li>
              <li class="section-links__item"><a href="#">Treasury</a></li>
          </ul>
        </div>
        <div class="section-links__group">
          <h3 class="section-links__heading"><a href="#">NSW Government</a></h3>
          <ul class="section-links__list">
              <li class="section-links__item"><a href="#">The Premier</a></li>
              <li class="section-links__item"><a href="#">NSW Ministers</a></li>
              <li class="section-links__item"><a href="#">Find your local Member of Parliament</a></li>
              <li class="section-links__item"><a href="#">Boards and Committees</a></li>
              <li class="section-links__item"><a href="#">NSW Government communications</a></li>
              <li class="section-links__item"><a href="#">Unsolicited proposals</a></li>
              <li class="section-links__item"><a href="#">Premier&#x27;s Priorities</a></li>
          </ul>
        </div>
    </div>
  </div>
  <div class="nsw-footer__lower">
    <div class="nsw-container">
      <p>We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
      <hr>
      <ul class="nsw-footer-links">
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Accessibility</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Copyright</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Disclaimer</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Privacy</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Content sources</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">RSS</a>
          </li>
          <li class="nsw-footer-links__item">
            <a href="#" class="nsw-footer-links__link">Contact us</a>
          </li>
      </ul>
      <div class="nsw-footer__info">
        <p class="nsw-footer__copyright">Copyright © 2019</p>
        <p class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></p>
      </div>
    </div>
  </div>
</footer>

  <script src="../../js/main.js"></script>
  <script>window.NSW.initSite()</script>
</body>
</html>
