---
page: true
title: NSW Digital Design System

---
  <div class="nsw-docs__header">
    <div class="nsw-docs__masthead">A NSW Government website</div>
    <div class="nsw-docs__title">NSW Digital Design System</div>
  </div>

  <div class="nsw-docs__top nsw-docs__top--page">
    <div class="nsw-container">
      <div class="nsw-docs__intro">
        <h1>NSW Digital Design System</h1>
        <p>The NSW Design System is a way for people in government to design products and services that are distinctly NSW. </p>
      </div>
    </div>
  </div>
  <div class="nsw-docs__content">
    <div class="nsw-container">
      <div class="nsw-section--white">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dui sem, tempus a pulvinar aliquet, commodo ut neque. Praesent euismod elit id neque tempor, et fringilla dolor mattis. Nullam porttitor non nisl nec pretium. Nunc ligula neque, viverra in turpis sit amet, aliquam tempor odio. Pellentesque imperdiet vehicula tincidunt. Aliquam erat volutpat. Curabitur faucibus laoreet urna, id aliquam enim mattis a. Pellentesque scelerisque, dolor nec imperdiet mollis, magna nisl tincidunt lorem, id mattis urna risus vel lorem. Proin a rutrum lacus. Sed cursus accumsan nulla vel pretium. Aenean finibus metus ac commodo fringilla. Praesent eget justo tristique, tempor est ut, lacinia quam.</p>

				<p>Phasellus id dolor augue. Vestibulum aliquet ornare ipsum eu ullamcorper. Integer ornare tortor et dapibus condimentum. Nam rhoncus ipsum at efficitur ornare. Praesent sagittis enim finibus leo aliquam ultricies sit amet a quam. Integer eget massa eget turpis elementum semper in eget massa. Suspendisse sit amet libero cursus, mattis dui sed, pellentesque diam. Nulla aliquet pulvinar odio, nec sodales tellus aliquet eu. Nam euismod eleifend viverra. Suspendisse sapien erat, porta vel elit quis, dictum auctor ipsum. Morbi leo dui, tincidunt et augue sed, euismod consectetur mi. Praesent id metus risus. Fusce dictum mauris non elementum auctor. Aliquam erat volutpat. Proin ullamcorper tristique fermentum.</p>

				<p>Duis malesuada turpis lorem, vitae mollis felis ornare a. Praesent at libero sed tellus mattis placerat eget ut ipsum. Etiam sed purus sit amet enim pulvinar bibendum. Donec eget fermentum mi. Nam sollicitudin felis in tortor tristique fringilla. In hac habitasse platea dictumst. Donec non lorem eu eros dictum scelerisque id nec elit. Donec imperdiet, augue sed dictum luctus, dui ex blandit velit, ac scelerisque dolor sapien ac magna. Aliquam dapibus felis euismod est placerat porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas lectus velit, auctor id dapibus sit amet, consequat sed nibh. Phasellus consequat eget sapien vitae gravida. Ut augue diam, consectetur quis rhoncus eget, commodo in erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

				<p>Etiam finibus tortor ut massa sagittis venenatis. Praesent gravida leo non tortor vestibulum vehicula. Donec ipsum tortor, sodales in condimentum quis, venenatis at purus. Proin consequat, mauris eu tincidunt vulputate, mi purus mollis est, non semper leo nisl at dui. In sit amet ligula vel tortor tempus sagittis ut nec diam. Maecenas non nisl non quam ultrices porta. Morbi ornare quis dolor sit amet semper. Cras arcu velit, laoreet id risus at, vulputate tincidunt arcu. Suspendisse aliquam id quam ut luctus. Nullam sollicitudin ipsum nec nisi porttitor aliquam. Proin non bibendum lacus. Nunc in pretium leo. Quisque ac tellus vitae dolor cursus mollis at quis lorem. Pellentesque et dapibus dui.</p>

				<p>Phasellus sagittis, sapien sed posuere ultricies, justo ipsum consequat velit, laoreet commodo purus nibh sit amet urna. Maecenas pharetra eget erat id blandit. Quisque tempor odio sit amet tortor congue tincidunt. Nullam ullamcorper aliquet aliquam. Integer id felis eget justo tincidunt accumsan eu non tortor. Nam condimentum fringilla orci, non bibendum lorem tincidunt ut. Suspendisse potenti.</p>
			</div>
    </div>
  </div>
