<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Feature tile</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" href="../../css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/xml.min.js"></script>  <script>
    // SVG Sprite Loader
    var svgAjax = new XMLHttpRequest();
    svgAjax.open("GET", "../../assets/svg/sprite.svg", true);
    svgAjax.send();
    svgAjax.onload = function(e) {
      var fragment = document.createRange().createContextualFragment(svgAjax.responseText);
      var svg = fragment.querySelector('svg')
      svg.setAttribute('aria-hidden', true);
      svg.style.cssText = 'position: absolute; width: 0; height: 0; overflow: hidden;'
      document.body.insertBefore(fragment, document.body.childNodes[0]);
    };
    // Replace 'no-js' with 'js' on the html tag
    (function(e){e.className=e.className.replace(/\bno-js\b/,'js')})(document.documentElement);
  </script>
  <style>
    .nsw-container {position: relative;} /* to align grid overlay */
  </style>
</head>

<body >
  <div class="nsw-masthead">
    <div class="nsw-m-left-md">
      <p>A NSW Government website</p>
    </div>
  </div>
  <header class="nsw-header nsw-header--simple">
    <div class="nsw-m-left-md">
      <div class="nsw-header__wrapper">
        <div class="nsw-header__center">
          <a href="#" class="nsw-header__logo-link">
            <img class="site-logo" src="https://www.digital.nsw.gov.au//themes/custom/corporateplus/nsw-digitalnsw-combined.svg?v=20191114111300" alt="digital.nsw">
            <span class="sr-only">digital.nsw</span>
          </a>
        </div>
      </div>
  </header>
  <div class="nsw-grid nsw-m-none" style="margin:0; /* helpers don't override grid */">
    <div class="nsw-col-3 nsw-col">
      <nav class="nsw-sidenav nsw-m-left-sm nsw-p-right-md" aria-labelledby="componentsTitle side navigation">
        <div class="nsw-sidenav__header">
          <h2 id="componentsTitle" class="nsw-sidenav__heading">
            <span class="nsw-sidenav__heading-link" aria-controls="nav-default">Components</span></h2>
        </div>
        <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
            <li class="nsw-sidenav__list-item ">
              <a href="/components/accordion/index.html" class="nsw-sidenav__link " >
                Accordion
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/accordion/index.html" class="nsw-sidenav__link " >
                Accordion
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/button/index.html" class="nsw-sidenav__link " >
                Buttons
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/callout/index.html" class="nsw-sidenav__link " >
                Callout
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/card/index.html" class="nsw-sidenav__link " >
                Card
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/direction-links/index.html" class="nsw-sidenav__link " >
                Direction links
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/feature-tile/index.html" class="nsw-sidenav__link " >
                Feature tile
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/footer/index.html" class="nsw-sidenav__link " >
                Footer
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/forms/index.html" class="nsw-sidenav__link " >
                Forms
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/site-wide-message/index.html" class="nsw-sidenav__link " >
                Global alert
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/header/index.html" class="nsw-sidenav__link " >
                Header
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/hero-banner/index.html" class="nsw-sidenav__link " >
                Hero banner
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/hero-search/index.html" class="nsw-sidenav__link " >
                Hero search
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/in-page-navigation/index.html" class="nsw-sidenav__link " >
                In-page navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/notification/index.html" class="nsw-sidenav__link " >
                In-page notification
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/link-list/index.html" class="nsw-sidenav__link " >
                Link list
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/main-navigation/index.html" class="nsw-sidenav__link " >
                Main navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/pagination/index.html" class="nsw-sidenav__link " >
                Pagination
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/side-navigation/index.html" class="nsw-sidenav__link " >
                Side navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/social-bar/index.html" class="nsw-sidenav__link " >
                Social bar
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tables/index.html" class="nsw-sidenav__link " >
                Tables
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tab-navigation/index.html" class="nsw-sidenav__link " >
                Tabs
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tags/index.html" class="nsw-sidenav__link " >
                Tags
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/breadcrumbs/index.html" class="nsw-sidenav__link " >
                Breadcrumbs
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/breadcrumbs/index.html" class="nsw-sidenav__link " >
                Breadcrumbs
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/button/index.html" class="nsw-sidenav__link " >
                Buttons
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/callout/index.html" class="nsw-sidenav__link " >
                Callout
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/card/index.html" class="nsw-sidenav__link " >
                Card
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/direction-links/index.html" class="nsw-sidenav__link " >
                Direction links
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/feature-tile/index.html" class="nsw-sidenav__link " >
                Feature tile
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/footer/index.html" class="nsw-sidenav__link " >
                Footer
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/forms/index.html" class="nsw-sidenav__link " >
                Forms
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/header/index.html" class="nsw-sidenav__link " >
                Header
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/hero-banner/index.html" class="nsw-sidenav__link " >
                Hero banner
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/hero-search/index.html" class="nsw-sidenav__link " >
                Hero search
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/in-page-navigation/index.html" class="nsw-sidenav__link " >
                In-page navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/link-list/index.html" class="nsw-sidenav__link " >
                Link list
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/main-navigation/index.html" class="nsw-sidenav__link " >
                Main navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/notification/index.html" class="nsw-sidenav__link " >
                In-page notification
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/pagination/index.html" class="nsw-sidenav__link " >
                Pagination
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/side-navigation/index.html" class="nsw-sidenav__link " >
                Side navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/site-wide-message/index.html" class="nsw-sidenav__link " >
                Global alert
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/social-bar/index.html" class="nsw-sidenav__link " >
                Social bar
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tab-navigation/index.html" class="nsw-sidenav__link " >
                Tabs
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tables/index.html" class="nsw-sidenav__link " >
                Tables
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tags/index.html" class="nsw-sidenav__link " >
                Tags
              </a>
            </li>
        </ul>
        <div class="nsw-sidenav__header">
          <h2 id="stylesTitle" class="nsw-sidenav__heading">
            <span class="nsw-sidenav__heading-link" aria-controls="nav-default">Styles</span></h2>
        </div>
        <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/grid/index.html" class="nsw-sidenav__link" >
                Grid
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/iconography/index.html" class="nsw-sidenav__link" >
                Iconography
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/layout/index.html" class="nsw-sidenav__link" >
                Layout
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/typography/index.html" class="nsw-sidenav__link" >
                Typography
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/grid/index.html" class="nsw-sidenav__link" >
                Grid
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/iconography/index.html" class="nsw-sidenav__link" >
                Iconography
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/layout/index.html" class="nsw-sidenav__link" >
                Layout
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/typography/index.html" class="nsw-sidenav__link" >
                Typography
              </a>
            </li>
        </ul>
        <div class="nsw-sidenav__header">
          <h2 id="templatesTitle" class="nsw-sidenav__heading">
            <span class="nsw-sidenav__heading-link" aria-controls="nav-default">Templates</span></h2>
        </div>
        <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/full-width-hero-banner/index.html" class="nsw-sidenav__link " >
                Full width - Hero banner
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/full-width-hero-search/index.html" class="nsw-sidenav__link " >
                Full width - Hero search
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/nav-sidebar-left/index.html" class="nsw-sidenav__link " >
                Two column - Side navigation left align (nav hides on mobile)
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/sidebar-right/index.html" class="nsw-sidenav__link " >
                Two column - Sidebar right align
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/full-width-hero-banner/index.html" class="nsw-sidenav__link " >
                Full width - Hero banner
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/full-width-hero-search/index.html" class="nsw-sidenav__link " >
                Full width - Hero search
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/nav-sidebar-left/index.html" class="nsw-sidenav__link " >
                Two column - Side navigation left align (nav hides on mobile)
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/sidebar-right/index.html" class="nsw-sidenav__link " >
                Two column - Sidebar right align
              </a>
            </li>
        </ul>
      </nav>
    </div>
    <div class="nsw-p-none nsw-col-9 nsw-col" style="padding:0; /* helpers don't override grid */">
      <div class="nsw-docs-content-header nsw-bg--light-10 nsw-p-x-md nsw-p-y-xs">
          <h1>Feature tile</h1>
      </div>
      <div>
        <div class="nsw-tabs js-tabs">
          <div class="nsw-p-left-md nsw-bg--light-10">
            <ul class="nsw-tabs__list">
              <li class="nsw-tabs__list-item">
                <a href="#section147337" class="nsw-tabs__link">Guidance</a>
              </li>
              <li class="nsw-tabs__list-item">
                <a href="#demosection" class="nsw-tabs__link">Interactive demo</a>
              </li>
              <li class="nsw-tabs__list-item">
                <a href="#codesection" class="nsw-tabs__link">Code</a>
              </li>
            </ul>
          </div>
          <section id="section147337" class="nsw-tabs__content">
              <h1 id="using-this-pattern">Using this pattern</h1>
        <p>Content TBD</p>
        <p>Do:</p>
        <ul>
        <li>Check it&#39;s use with the design system</li>
        <li>Modify the pattern if there&#39;s a user need</li>
        <li>Test with the simplest version first</li>
        </ul>
        <p>Do not:</p>
        <ul>
        <li>Use the pattern without testing it first</li>
        </ul>
        <h2 id="accessibility">Accessibility</h2>
        <p>Content TBD</p>
        
        
          </section>
          <section id="demosection" class="nsw-tabs__content">
            
        <main>
          <div class="nsw-section--white">
            <div class="nsw-container">
              <div class="nsw-page-layout">
                <div class="nsw-page-layout__main">
                  <div class="nsw-grid">
                    <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
                      <h2 class="nsw-section-title">Links list (less than 6)</h2>
                      <div class="nsw-feature-tile">
                        <h2 class="nsw-feature-tile__title">
                          <svg class="nsw-icon" focusable="false" aria-hidden="true">
                            <use xlink:href="#arrow"></use>
                          </svg>
                          Standards
                        </h2>
                        <div class="nsw-body-content">
                          <p>The standards outline the best practice you need to consider when building a NSW Government product or service</p>
                        </div>
                        <div class="nsw-feature-tile__cards-group">
                        </div>
                        <div class="nsw-feature-tile__links-group">
                          <ul >
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Content basics</span> <sup class="new-text">NEW</sup>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Writing for inclusivity</span>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Writing style</span>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Content audit</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="nsw-section--light-10">
            <div class="nsw-container">
              <div class="nsw-page-layout">
                <div class="nsw-page-layout__main">
                  <div class="nsw-grid">
                    <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
                      <h2 class="nsw-section-title">Links list (more than 6)</h2>
                      <div class="nsw-feature-tile">
                        <h2 class="nsw-feature-tile__title">
                          <svg class="nsw-icon" focusable="false" aria-hidden="true">
                            <use xlink:href="#arrow"></use>
                          </svg>
                          Standards
                        </h2>
                        <div class="nsw-body-content">
                          <p>The standards outline the best practice you need to consider when building a NSW Government product or service</p>
                        </div>
                        <div class="nsw-feature-tile__cards-group">
                        </div>
                        <div class="nsw-feature-tile__links-group">
                          <ul class="nsw-feature-tile__double-list">
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Content basics</span>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Writing for inclusivity</span> <sup class="new-text">NEW</sup>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Writing style</span>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Finding a tone of voice</span> <sup class="new-text">NEW</sup>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Content audit</span>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Content structure</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="nsw-section--white">
            <div class="nsw-container">
              <div class="nsw-page-layout">
                <div class="nsw-page-layout__main">
                  <div class="nsw-grid">
                    <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
                      <h2 class="nsw-section-title">CTA and Images</h2>
                      <div class="nsw-feature-tile">
                        <h2 class="nsw-feature-tile__title">
                          <a href="#" class="nsw-feature-tile__title-link">
                          Standards
                          </a>
                        </h2>
                        <div class="nsw-body-content">
                          <p>The standards outline the best practice you need to consider when building a NSW Government product or service</p>
                        </div>
                        <div class="nsw-feature-tile__cards-group">
                          <div class="nsw-feature-tile__card">
                            <img src="https://picsum.photos/id/1076/200/200" alt="" class="nsw-feature-tile__card-img" />
                            <p class="nsw-feature-tile__card-text">Expectations</p>
                          </div>
                          <div class="nsw-feature-tile__card">
                            <img src="https://picsum.photos/id/20/200/200" alt="" class="nsw-feature-tile__card-img" />
                            <p class="nsw-feature-tile__card-text">How-top guides</p>
                          </div>
                          <div class="nsw-feature-tile__card">
                            <img src="https://picsum.photos/id/859/200/200" alt="" class="nsw-feature-tile__card-img" />
                            <p class="nsw-feature-tile__card-text">Project checklist</p>
                          </div>
                        </div>
                        <div class="nsw-feature-tile__links-group">
                          <ul >
                          </ul>
                        </div>
                        <a href="#" class="nsw-feature-tile__cta nsw-text-link">View the pattern library</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="nsw-section--light-10">
            <div class="nsw-container">
              <div class="nsw-page-layout">
                <div class="nsw-page-layout__main">
                  <div class="nsw-grid">
                    <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
                      <h2 class="nsw-section-title">All options</h2>
                      <div class="nsw-feature-tile">
                        <h2 class="nsw-feature-tile__title">
                          <svg class="nsw-icon" focusable="false" aria-hidden="true">
                            <use xlink:href="#arrow"></use>
                          </svg>
                          <a href="#" class="nsw-feature-tile__title-link">
                          Standards
                          </a>
                        </h2>
                        <div class="nsw-body-content">
                          <p>The standards outline the best practice you need to consider when building a NSW Government product or service</p>
                        </div>
                        <div class="nsw-feature-tile__cards-group">
                          <div class="nsw-feature-tile__card">
                            <img src="https://picsum.photos/id/1076/200/200" alt="" class="nsw-feature-tile__card-img" />
                            <p class="nsw-feature-tile__card-text">Expectations</p>
                          </div>
                          <div class="nsw-feature-tile__card">
                            <img src="https://picsum.photos/id/20/200/200" alt="" class="nsw-feature-tile__card-img" />
                            <p class="nsw-feature-tile__card-text">How-top guides</p>
                          </div>
                          <div class="nsw-feature-tile__card">
                            <img src="https://picsum.photos/id/859/200/200" alt="" class="nsw-feature-tile__card-img" />
                            <p class="nsw-feature-tile__card-text">Project checklist</p>
                          </div>
                        </div>
                        <div class="nsw-feature-tile__links-group">
                          <ul class="nsw-feature-tile__double-list">
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Content basics</span> <sup class="new-text">NEW</sup>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Writing for inclusivity</span>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Writing style</span>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Content audit</span>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Content structure</span>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Finding a tone of voice</span>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Meta data</span>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Images and alt text</span>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Documents and media</span>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="nsw-feature-tile__link">
                                <span class="link-text">Content style guide</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <a href="#" class="nsw-feature-tile__cta nsw-text-link">View the pattern library</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        
          </section>
          <section id="codesection" class="nsw-tabs__content">
            <pre><code class="html">
        &lt;main&gt;
          &lt;div class&#x3D;&quot;nsw-section--white&quot;&gt;
            &lt;div class&#x3D;&quot;nsw-container&quot;&gt;
              &lt;div class&#x3D;&quot;nsw-page-layout&quot;&gt;
                &lt;div class&#x3D;&quot;nsw-page-layout__main&quot;&gt;
                  &lt;div class&#x3D;&quot;nsw-grid&quot;&gt;
                    &lt;div class&#x3D;&quot;nsw-col nsw-col-lg-8 nsw-offset-lg-2&quot;&gt;
                      &lt;h2 class&#x3D;&quot;nsw-section-title&quot;&gt;Links list (less than 6)&lt;/h2&gt;
                      &lt;div class&#x3D;&quot;nsw-feature-tile&quot;&gt;
                        &lt;h2 class&#x3D;&quot;nsw-feature-tile__title&quot;&gt;
                          &lt;svg class&#x3D;&quot;nsw-icon&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
                            &lt;use xlink:href&#x3D;&quot;#arrow&quot;&gt;&lt;/use&gt;
                          &lt;/svg&gt;
                          Standards
                        &lt;/h2&gt;
                        &lt;div class&#x3D;&quot;nsw-body-content&quot;&gt;
                          &lt;p&gt;The standards outline the best practice you need to consider when building a NSW Government product or service&lt;/p&gt;
                        &lt;/div&gt;
                        &lt;div class&#x3D;&quot;nsw-feature-tile__cards-group&quot;&gt;
                        &lt;/div&gt;
                        &lt;div class&#x3D;&quot;nsw-feature-tile__links-group&quot;&gt;
                          &lt;ul &gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Content basics&lt;/span&gt; &lt;sup class&#x3D;&quot;new-text&quot;&gt;NEW&lt;/sup&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Writing for inclusivity&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Writing style&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Content audit&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                          &lt;/ul&gt;
                        &lt;/div&gt;
                        
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        
          &lt;div class&#x3D;&quot;nsw-section--light-10&quot;&gt;
            &lt;div class&#x3D;&quot;nsw-container&quot;&gt;
              &lt;div class&#x3D;&quot;nsw-page-layout&quot;&gt;
                &lt;div class&#x3D;&quot;nsw-page-layout__main&quot;&gt;
                  &lt;div class&#x3D;&quot;nsw-grid&quot;&gt;
                    &lt;div class&#x3D;&quot;nsw-col nsw-col-lg-8 nsw-offset-lg-2&quot;&gt;
                      &lt;h2 class&#x3D;&quot;nsw-section-title&quot;&gt;Links list (more than 6)&lt;/h2&gt;
                      &lt;div class&#x3D;&quot;nsw-feature-tile&quot;&gt;
                        &lt;h2 class&#x3D;&quot;nsw-feature-tile__title&quot;&gt;
                          &lt;svg class&#x3D;&quot;nsw-icon&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
                            &lt;use xlink:href&#x3D;&quot;#arrow&quot;&gt;&lt;/use&gt;
                          &lt;/svg&gt;
                          Standards
                        &lt;/h2&gt;
                        &lt;div class&#x3D;&quot;nsw-body-content&quot;&gt;
                          &lt;p&gt;The standards outline the best practice you need to consider when building a NSW Government product or service&lt;/p&gt;
                        &lt;/div&gt;
                        &lt;div class&#x3D;&quot;nsw-feature-tile__cards-group&quot;&gt;
                        &lt;/div&gt;
                        &lt;div class&#x3D;&quot;nsw-feature-tile__links-group&quot;&gt;
                          &lt;ul class&#x3D;&quot;nsw-feature-tile__double-list&quot;&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Content basics&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Writing for inclusivity&lt;/span&gt; &lt;sup class&#x3D;&quot;new-text&quot;&gt;NEW&lt;/sup&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Writing style&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Finding a tone of voice&lt;/span&gt; &lt;sup class&#x3D;&quot;new-text&quot;&gt;NEW&lt;/sup&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Content audit&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Content structure&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                          &lt;/ul&gt;
                        &lt;/div&gt;
                        
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        
          &lt;div class&#x3D;&quot;nsw-section--white&quot;&gt;
            &lt;div class&#x3D;&quot;nsw-container&quot;&gt;
              &lt;div class&#x3D;&quot;nsw-page-layout&quot;&gt;
                &lt;div class&#x3D;&quot;nsw-page-layout__main&quot;&gt;
                  &lt;div class&#x3D;&quot;nsw-grid&quot;&gt;
                    &lt;div class&#x3D;&quot;nsw-col nsw-col-lg-8 nsw-offset-lg-2&quot;&gt;
                      &lt;h2 class&#x3D;&quot;nsw-section-title&quot;&gt;CTA and Images&lt;/h2&gt;
                      &lt;div class&#x3D;&quot;nsw-feature-tile&quot;&gt;
                        &lt;h2 class&#x3D;&quot;nsw-feature-tile__title&quot;&gt;
                          &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__title-link&quot;&gt;
                          Standards
                          &lt;/a&gt;
                        &lt;/h2&gt;
                        &lt;div class&#x3D;&quot;nsw-body-content&quot;&gt;
                          &lt;p&gt;The standards outline the best practice you need to consider when building a NSW Government product or service&lt;/p&gt;
                        &lt;/div&gt;
                        &lt;div class&#x3D;&quot;nsw-feature-tile__cards-group&quot;&gt;
                          &lt;div class&#x3D;&quot;nsw-feature-tile__card&quot;&gt;
                            &lt;img src&#x3D;&quot;https://picsum.photos/id/1076/200/200&quot; alt&#x3D;&quot;&quot; class&#x3D;&quot;nsw-feature-tile__card-img&quot; /&gt;
                            &lt;p class&#x3D;&quot;nsw-feature-tile__card-text&quot;&gt;Expectations&lt;/p&gt;
                          &lt;/div&gt;
                          &lt;div class&#x3D;&quot;nsw-feature-tile__card&quot;&gt;
                            &lt;img src&#x3D;&quot;https://picsum.photos/id/20/200/200&quot; alt&#x3D;&quot;&quot; class&#x3D;&quot;nsw-feature-tile__card-img&quot; /&gt;
                            &lt;p class&#x3D;&quot;nsw-feature-tile__card-text&quot;&gt;How-top guides&lt;/p&gt;
                          &lt;/div&gt;
                          &lt;div class&#x3D;&quot;nsw-feature-tile__card&quot;&gt;
                            &lt;img src&#x3D;&quot;https://picsum.photos/id/859/200/200&quot; alt&#x3D;&quot;&quot; class&#x3D;&quot;nsw-feature-tile__card-img&quot; /&gt;
                            &lt;p class&#x3D;&quot;nsw-feature-tile__card-text&quot;&gt;Project checklist&lt;/p&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class&#x3D;&quot;nsw-feature-tile__links-group&quot;&gt;
                          &lt;ul &gt;
                          &lt;/ul&gt;
                        &lt;/div&gt;
                        &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__cta nsw-text-link&quot;&gt;View the pattern library&lt;/a&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        
          &lt;div class&#x3D;&quot;nsw-section--light-10&quot;&gt;
            &lt;div class&#x3D;&quot;nsw-container&quot;&gt;
              &lt;div class&#x3D;&quot;nsw-page-layout&quot;&gt;
                &lt;div class&#x3D;&quot;nsw-page-layout__main&quot;&gt;
                  &lt;div class&#x3D;&quot;nsw-grid&quot;&gt;
                    &lt;div class&#x3D;&quot;nsw-col nsw-col-lg-8 nsw-offset-lg-2&quot;&gt;
                      &lt;h2 class&#x3D;&quot;nsw-section-title&quot;&gt;All options&lt;/h2&gt;
                      &lt;div class&#x3D;&quot;nsw-feature-tile&quot;&gt;
                        &lt;h2 class&#x3D;&quot;nsw-feature-tile__title&quot;&gt;
                          &lt;svg class&#x3D;&quot;nsw-icon&quot; focusable&#x3D;&quot;false&quot; aria-hidden&#x3D;&quot;true&quot;&gt;
                            &lt;use xlink:href&#x3D;&quot;#arrow&quot;&gt;&lt;/use&gt;
                          &lt;/svg&gt;
                          &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__title-link&quot;&gt;
                          Standards
                          &lt;/a&gt;
                        &lt;/h2&gt;
                        &lt;div class&#x3D;&quot;nsw-body-content&quot;&gt;
                          &lt;p&gt;The standards outline the best practice you need to consider when building a NSW Government product or service&lt;/p&gt;
                        &lt;/div&gt;
                        &lt;div class&#x3D;&quot;nsw-feature-tile__cards-group&quot;&gt;
                          &lt;div class&#x3D;&quot;nsw-feature-tile__card&quot;&gt;
                            &lt;img src&#x3D;&quot;https://picsum.photos/id/1076/200/200&quot; alt&#x3D;&quot;&quot; class&#x3D;&quot;nsw-feature-tile__card-img&quot; /&gt;
                            &lt;p class&#x3D;&quot;nsw-feature-tile__card-text&quot;&gt;Expectations&lt;/p&gt;
                          &lt;/div&gt;
                          &lt;div class&#x3D;&quot;nsw-feature-tile__card&quot;&gt;
                            &lt;img src&#x3D;&quot;https://picsum.photos/id/20/200/200&quot; alt&#x3D;&quot;&quot; class&#x3D;&quot;nsw-feature-tile__card-img&quot; /&gt;
                            &lt;p class&#x3D;&quot;nsw-feature-tile__card-text&quot;&gt;How-top guides&lt;/p&gt;
                          &lt;/div&gt;
                          &lt;div class&#x3D;&quot;nsw-feature-tile__card&quot;&gt;
                            &lt;img src&#x3D;&quot;https://picsum.photos/id/859/200/200&quot; alt&#x3D;&quot;&quot; class&#x3D;&quot;nsw-feature-tile__card-img&quot; /&gt;
                            &lt;p class&#x3D;&quot;nsw-feature-tile__card-text&quot;&gt;Project checklist&lt;/p&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class&#x3D;&quot;nsw-feature-tile__links-group&quot;&gt;
                          &lt;ul class&#x3D;&quot;nsw-feature-tile__double-list&quot;&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Content basics&lt;/span&gt; &lt;sup class&#x3D;&quot;new-text&quot;&gt;NEW&lt;/sup&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Writing for inclusivity&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Writing style&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Content audit&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Content structure&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Finding a tone of voice&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Meta data&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Images and alt text&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Documents and media&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__link&quot;&gt;
                                &lt;span class&#x3D;&quot;link-text&quot;&gt;Content style guide&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/li&gt;
                          &lt;/ul&gt;
                        &lt;/div&gt;
                        &lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;nsw-feature-tile__cta nsw-text-link&quot;&gt;View the pattern library&lt;/a&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/main&gt;
        </code></pre>
          </section>
        </div>
      </div>
    </div>
  </div>
  <footer class="nsw-footer">
    <div class="nsw-footer__upper">
      <div class="nsw-container section-links">
      </div>
    </div>
    <div class="nsw-footer__lower">
      <div class="nsw-container">
        <p>We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
        <hr>
        <ul class="nsw-footer-links">
        </ul>
        <div class="nsw-footer__info">
          <p class="nsw-footer__copyright">Copyright © 2021</p>
          <p class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></p>
        </div>
      </div>
    </div>
  </footer>
  <script src="../../js/main.js"></script>
  <script>
    window.NSW.initSite()
    hljs.initHighlightingOnLoad();
</script>
</body>
</html>
