.nsw-code-block pre {
  display: none;
}


.nsw-docs {
  @include font-stack();

  @include breakpoint('lg') {
    display: flex;
  }

  &__masthead {
    @include nsw-spacing(padding, sm none);
    background-color: $nsw-primary-blue;
    color: $white;
    font-size: rem(12px);
    padding-left: rem($container-offset);
    padding-right: rem($container-offset);
  }

  &__title {
    @include font-stack('heading');
    @include font-size('lg');
    padding: rem(30px) rem($container-offset);
  }

  &__nav {
    display: none;
    min-width: rem(300px);
    max-width: rem(300px);

    @include breakpoint('lg') {
      display: block;
    }
  }

  &__main {
    width: 100%;
  }

  &__top {
    background-color: $light10;
    padding: rem(30px) 0 rem(78px);
    margin-bottom: rem(-48px);
  }

  &__intro {
    max-width: rem(768px);
  }
}

.nsw-docs-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: rem(300px);
  overflow-y: auto;
  border-right: 1px solid $light20;
  background: $white;

  &__logo {
    padding-bottom: rem(40px);

    img {
      max-width: rem(168px);
      max-height: rem(55px);
    }
  }

  &__wrapper {
    padding: rem(30px) rem($container-offset);
  }

  &__title {
    a,
    button {
      @include font-stack();
      @include font-size('sm');
      background: transparent;
      border: 0;
      border-bottom: solid 1px $light20;
      display: block;
      width: 100%;
      padding: rem(8px);
      text-align: left;
      color: $black;
      text-decoration: none;

      &:hover {
        @include nsw-hover;
      }

      &:focus {
        @include nsw-focus;
      }

      &.is-active {
        @include font-stack('heading');
      }
    }

    button {
      display: flex;
      align-items: center;

      &.is-open {
        @include font-stack('heading');
        
        .nsw-material-icons {
          transform: rotate(180deg);
        }
      }

      span {
        width: 100%;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;

    &.is-open {
      display: block;
    }

    li {
      padding: 0;
      margin: 0;
    }

    a {
      display: block;
      color: $dark80;
      text-decoration: none;
      padding: rem(8px);
      border-left: rem(4px) solid transparent;

      &:hover,
      &.is-active {
        background-color: $light10;
        border-color: $nsw-primary-highlight;
      }
    }
  }

  &__link {
    @include nsw-spacing(padding, md);
    display: block;
    color: $dark80;
    text-decoration: none;
    background-color: $white;
  }
}
