<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Global alert</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" href="../../css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-light.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/xml.min.js"></script>  <script>
    // SVG Sprite Loader
    var svgAjax = new XMLHttpRequest();
    svgAjax.open("GET", "../../assets/svg/sprite.svg", true);
    svgAjax.send();
    svgAjax.onload = function(e) {
      var fragment = document.createRange().createContextualFragment(svgAjax.responseText);
      var svg = fragment.querySelector('svg')
      svg.setAttribute('aria-hidden', true);
      svg.style.cssText = 'position: absolute; width: 0; height: 0; overflow: hidden;'
      document.body.insertBefore(fragment, document.body.childNodes[0]);
    };
    // Replace 'no-js' with 'js' on the html tag
    (function(e){e.className=e.className.replace(/\bno-js\b/,'js')})(document.documentElement);
  </script>
  <style>
    .ui-dev-demo pre {
      display: none;
    }
  </style>
</head>

<body >
  <div class="nsw-masthead">
    <div class="nsw-m-left-md">
      <p>A NSW Government website</p>
    </div>
  </div>
  <header class="nsw-header nsw-header--simple">
    <div class="nsw-m-left-md">
      <div class="nsw-header__wrapper">
        <div class="nsw-header__center">
          <a href="#" class="nsw-header__logo-link">
            <img class="site-logo" src="https://www.digital.nsw.gov.au//themes/custom/corporateplus/nsw-digitalnsw-combined.svg?v=20191114111300" alt="digital.nsw">
            <span class="sr-only">digital.nsw</span>
          </a>
        </div>
      </div>
  </header>
  <div class="nsw-grid nsw-m-none" style="margin:0; /* helpers don't override grid */">
    <div class="nsw-col-3 nsw-col nsw-show-lg">
      <nav class="nsw-sidenav nsw-m-left-sm nsw-p-right-md" aria-labelledby="componentsTitle side navigation">
        <div class="nsw-sidenav__header">
          <h2 id="componentsTitle" class="nsw-sidenav__heading">
            <span class="nsw-sidenav__heading-link" aria-controls="nav-default">Components</span></h2>
        </div>
        <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
            <li class="nsw-sidenav__list-item ">
              <a href="/components/hero-search/index.html" class="nsw-sidenav__link " >
                Hero search
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/breadcrumbs/index.html" class="nsw-sidenav__link " >
                Breadcrumbs
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/button/index.html" class="nsw-sidenav__link " >
                Buttons
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/callout/index.html" class="nsw-sidenav__link " >
                Callout
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/card/index.html" class="nsw-sidenav__link " >
                Card
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/direction-links/index.html" class="nsw-sidenav__link " >
                Direction links
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/feature-tile/index.html" class="nsw-sidenav__link " >
                Feature tile
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/footer/index.html" class="nsw-sidenav__link " >
                Footer
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/forms/index.html" class="nsw-sidenav__link " >
                Forms
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/header/index.html" class="nsw-sidenav__link " >
                Header
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/hero-banner/index.html" class="nsw-sidenav__link " >
                Hero banner
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/accordion/index.html" class="nsw-sidenav__link " >
                Accordion
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/in-page-navigation/index.html" class="nsw-sidenav__link " >
                In-page navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/link-list/index.html" class="nsw-sidenav__link " >
                Link list
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/main-navigation/index.html" class="nsw-sidenav__link " >
                Main navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/notification/index.html" class="nsw-sidenav__link " >
                In-page notification
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/pagination/index.html" class="nsw-sidenav__link " >
                Pagination
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/side-navigation/index.html" class="nsw-sidenav__link " >
                Side navigation
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/site-wide-message/index.html" class="nsw-sidenav__link " >
                Global alert
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/social-bar/index.html" class="nsw-sidenav__link " >
                Social bar
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tab-navigation/index.html" class="nsw-sidenav__link " >
                Tabs
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tables/index.html" class="nsw-sidenav__link " >
                Tables
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/components/tags/index.html" class="nsw-sidenav__link " >
                Tags
              </a>
            </li>
        </ul>
        <div class="nsw-sidenav__header">
          <h2 id="stylesTitle" class="nsw-sidenav__heading">
            <span class="nsw-sidenav__heading-link" aria-controls="nav-default">Styles</span></h2>
        </div>
        <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/grid/index.html" class="nsw-sidenav__link" >
                Grid
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/iconography/index.html" class="nsw-sidenav__link" >
                Iconography
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/layout/index.html" class="nsw-sidenav__link" >
                Layout
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/styles/typography/index.html" class="nsw-sidenav__link" >
                Typography
              </a>
            </li>
        </ul>
        <!-- <div class="nsw-sidenav__header">
          <h2 id="templatesTitle" class="nsw-sidenav__heading">
            <span class="nsw-sidenav__heading-link" aria-controls="nav-default">Templates</span></h2>
        </div>
        <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/full-width-hero-banner/index.html" class="nsw-sidenav__link " >
                Full width - Hero banner
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/full-width-hero-search/index.html" class="nsw-sidenav__link " >
                Full width - Hero search
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/nav-sidebar-left/index.html" class="nsw-sidenav__link " >
                Two column - Side navigation left align (nav hides on mobile)
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/sidebar-right/index.html" class="nsw-sidenav__link " >
                Two column - Sidebar right align
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/full-width-hero-banner/index.html" class="nsw-sidenav__link " >
                Full width - Hero banner
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/full-width-hero-search/index.html" class="nsw-sidenav__link " >
                Full width - Hero search
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/nav-sidebar-left/index.html" class="nsw-sidenav__link " >
                Two column - Side navigation left align (nav hides on mobile)
              </a>
            </li>
            <li class="nsw-sidenav__list-item ">
              <a href="/templates/sidebar-right/index.html" class="nsw-sidenav__link " >
                Two column - Sidebar right align
              </a>
            </li>
        </ul> -->
      </nav>
    </div>
    <div class="nsw-col-12 nsw-hide-lg nsw-bg--light-10 nsw-p-left-md">
      <p>
        <a class="nsw-direction-link" href="#">
          <svg class="nsw-icon nsw-icon--rotate-180" focusable="false" aria-hidden="true">
            <use xlink:href="#arrow"></use>
          </svg>
          <span class="nsw-direction-link__text">
            Back <span class="sr-only">to home screen</span>
          </span>
        </a>
      </p>
    </div>
    <div class="nsw-p-none nsw-col-12 nsw-col-lg-9 nsw-col " style="padding:0; /* helpers don't override grid */">
      <div class="nsw-docs-content-header nsw-bg--light-10 nsw-p-x-md nsw-p-y-xs">
          <h1>Global alert</h1>
      </div>
      <div>
<div class="nsw-tabs js-tabs">
  <div class="nsw-p-left-md nsw-bg--light-10">
    <ul class="nsw-tabs__list">
      <li class="nsw-tabs__list-item">
        <a href="#section141382" class="nsw-tabs__link">Guidance</a>
      </li>
      <li class="nsw-tabs__list-item">
        <a href="#demosection" class="nsw-tabs__link">Interactive demo</a>
      </li>
    </ul>
  </div>
  <section id="section141382" class="nsw-tabs__content">
      <p>Global alerts display across the top of an entire site to convey important information to users.</p>
<h2 id="using-global-alerts">Using global alerts</h2>
<ul>
<li>global alerts are designed to capture the attention of the user in a deliberately intrusive way</li>
<li>global alerts persist over a session but are user dismissible</li>
<li>global alerts are purposefully created and not initiated by a user interaction or system event</li>
</ul>
<h3 id="global-alert-states">Global alert states</h3>
<p>Global alerts are styled according to their purpose:</p>
<ul>
<li><strong>Default alert</strong> - used to convey non-critical important information</li>
<li><strong>Critical alert</strong> - used to convey critical information</li>
<li><strong>Light alert</strong> - used as an alternative to the blue default on sites where blue features prominently.</li>
</ul>
<h3 id="when-to-use-global-alerts">When to use global alerts:</h3>
<ul>
<li>use to attract the attention of the user for important messages, or to encourage an action</li>
<li>use for messages or actions that are relevant to the entire product or system, not just a feature or page</li>
</ul>
<p>Do:</p>
<ul>
<li>use clear, concise easy to understand language, to minimise cognitive load.</li>
<li>use at the upper most part of the screen, before the masthead.</li>
<li>reserve the use of the critical alert for circumstances which warrant it.</li>
</ul>
<h2 id="when-to-avoid">When to avoid</h2>
<p>Do not display in response to an action initiated by a user interaction or system event.</p>
<h2 id="accessibility">Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>


  </section>
  <section id="demosection" class="nsw-tabs__content">
    
<div class="nsw-sitewide-message  js-sitewide-message" role="alert">
  <div class="nsw-sitewide-message__wrapper">
    <div class="nsw-sitewide-message__content">
      <h2 class="nsw-sitewide-message__title">State of Emergency for NSW</h2>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.</p>
    </div>
      <a href="#" class="nsw-button">More information</a>
    <button type="button" class="nsw-sitewide-message__close">
      <svg class="nsw-icon " focusable="false" aria-hidden="true">
        <use xlink:href="#close"></use>
      </svg>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-sitewide-message nsw-sitewide-message--light js-sitewide-message" role="alert">
  <div class="nsw-sitewide-message__wrapper">
    <div class="nsw-sitewide-message__content">
      <h2 class="nsw-sitewide-message__title">State of Emergency for NSW</h2>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.</p>
    </div>
      <a href="#" class="nsw-button">More information</a>
    <button type="button" class="nsw-sitewide-message__close">
      <svg class="nsw-icon " focusable="false" aria-hidden="true">
        <use xlink:href="#close"></use>
      </svg>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
<div class="nsw-sitewide-message nsw-sitewide-message--critical js-sitewide-message" role="alert">
  <div class="nsw-sitewide-message__wrapper">
    <div class="nsw-sitewide-message__content">
      <h2 class="nsw-sitewide-message__title">State of Emergency for NSW</h2>
      <p>Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.</p>
    </div>
      <a href="#" class="nsw-button">More information</a>
    <button type="button" class="nsw-sitewide-message__close">
      <svg class="nsw-icon " focusable="false" aria-hidden="true">
        <use xlink:href="#close"></use>
      </svg>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>

  </section>
</div>
      </div>
    </div>
  </div>
  <footer class="nsw-footer">
    <div class="nsw-footer__upper">
      <div class="nsw-container section-links">
      </div>
    </div>
    <div class="nsw-footer__lower">
      <div class="nsw-container">
        <p>We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
        <hr>
        <ul class="nsw-footer-links">
        </ul>
        <div class="nsw-footer__info">
          <p class="nsw-footer__copyright">Copyright © 2021</p>
          <p class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></p>
        </div>
      </div>
    </div>
  </footer>
  <script src="../../js/main.js"></script>
  <script>
    window.NSW.initSite()
    hljs.initHighlightingOnLoad();
    document.addEventListener('click', function (event) {
      if (!event.target.matches('.showHTML')) return;
      event.preventDefault();
      console.log(event.target);
      event.target.nextElementSibling.style.display = 'block';
      event.target.style.display = 'none';
    }, false)
</script>
</body>
</html>
